<div class="modal hide" id="filepickerModal" data-ng-controller="FilepickerCtrl">
  	<!-- header -->
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" data-ng-click="filepicker.close()">&times;</button>
    	<h3><i class="icon-{{filepicker.services[filepicker.args.service].icon}}"></i> {{filepicker.services[filepicker.args.service].name}}</h3>
    </div>
    <!-- body -->
    <div class="modal-body" data-ng-show="filepicker.args.type == 'UPLOAD'">
	    <div class="left alert alert-{{alert.class}}" data-ng-repeat="alert in filepicker.alerts">
		  	<button class="close" data-dismiss="alert">&times;</button>
		  	<strong>{{alert.label}}</strong> {{alert.message}}
		</div>

	    <!-- none -->
	    <div data-ng-show="filepicker.args.service == ''">
	        <h1>File Upload</h1>
	        <p>Choose an upload source from below.</p>
	    </div>
	    
	    <!-- resize and crop -->
	    <div class="center" data-ng-show="filepicker.args.service == 'RESIZECROP'">
	        <!--<img id="resizecrop-img" src="" />
	        <canvas id="resizecrop-canvas" src=""></canvas>-->
	        <div id="resizecrop"></div>
	        <i class="icon-picture"></i>
	        <input type="range" min="100" max="250" id="resizecrop-zoom" data-ng-model="resizecrop.img.zoom" />
	        <i class="icon-picture icon-large"></i>
	    </div>
	    
	     <!-- camera -->
	    <div class="center" data-ng-show="filepicker.args.service == 'CAMERA'">
	    	
	        <!--<img id="resizecrop-img" src="" />
	        <canvas id="resizecrop-canvas" src=""></canvas>-->
	        <div id="camera">
		        <video autoplay></video>
		        <img src="" />
		        <canvas style="display:none;"></canvas>
	        </div>
	    </div>
	    

	    <!-- computer OR URL -->
	    <div class="center" data-ng-show="filepicker.args.service == 'COMPUTER' || filepicker.args.service == 'URL'">
		    <div id="dropbox" class="thumbnail {{dropClass}}">
	            <h2 data-ng-show="filepicker.dropzone_name == 'image' 	&& !filepicker.args.multi">Drop image here...</h2>
	            <h2 data-ng-show="filepicker.dropzone_name == 'image' 	&& filepicker.args.multi">Drop images here...</h2>
	            <h2 data-ng-show="filepicker.dropzone_name == '!image'">Only images are allowed!</h2>
	            <h2 data-ng-show="filepicker.dropzone_name == 'file' 	&& !filepicker.args.multi">Drop file here...</h2>
	            <h2 data-ng-show="filepicker.dropzone_name == 'file' 	&& filepicker.args.multi">Drop files here...</h2>
	            <h2 data-ng-show="filepicker.dropzone_name == '!file'">Only files are allowed!</h2>
	        </div>
	        <br>
	        
	        <div data-ng-show="filepicker.args.service == 'COMPUTER'">
	        	<span data-ng-show="filepicker.dropzone_name == 'image'">or select an image.</span>
	        	<span data-ng-show="filepicker.dropzone_name == 'file'">or select a file.</span>
	        	 
	        	<button class="btn btn-success" data-ng-click="computer.buttonClick()"><i class="icon-upload-alt"></i> Upload</button>
	        	<input class="hidden" type="file" id="file_upload" accept="{{filepicker.accept}}" onchange="angular.element(this).scope().computer.buttonSelect(this)" data-ng-model-instant />
	        	<input class="hidden" type="file" id="file_multi_upload" accept="{{filepicker.accept}}" onchange="angular.element(this).scope().computer.buttonSelect(this)" data-ng-model-instant multiple />
	        </div>
	        
	        <div data-ng-show="filepicker.args.service == 'URL'">
            	<p>or paste in a url.</p>
				<form name="filepickerURL" class="input-append">
					<input type="url" name="url" class="span4" placeholder="e.g. http://example.com/someImage.jpg" data-ng-model="url.value" required>
					<button class="btn btn-success" data-ng-click="url.load(url.value)" data-ng-disabled="filepickerURL.$invalid"><i class="icon-upload-alt"></i> Upload</button>
				</form>
	        </div>
	    </div>

		<!-- ftp -->
		<div class="center" data-ng-show="filepicker.args.service == 'FTP'">
			<form name="filepickerFTP">
		 	<input type="url" name="url" class="span5" placeholder="server (e.g. ftp://example.com/)" data-ng-model="url.value" required>
		 	
		 	<div class="form-inline">
			 	<input type="text" name="user" class="span2" placeholder="username" data-ng-model="url.username">
			 	<input type="password" name="pass" class="span2" placeholder="password" data-ng-model="url.password">
			 	<button class="btn btn-primary" data-ng-click="ftp.load(url.value, url.username, url.password)" data-ng-disabled="filepickerFTP.$invalid">Connect</button>
		 	</div>
		 	</form>
		 	<p style="margin-top: 10px">We'll open a new page to help you connect your {{param.attr}} account</p>
		</div>
		<!-- webDAV (future)-->

		<!-- service,service_name (future) -->
		<div class="center" data-ng-show="filepicker.args.service == 'service'">
		 	<h1>Upload files from {{param.attr}}</h1>
		 	<a class="btn btn-large btn-primary" href="">Connect to {{param.attr}}</a>
		 	<p style="margin-top: 10px">We'll open a new page to help you connect your {{param.attr}} account</p>
		</div>
	
		<!-- upload - progress bars -->
		<div data-ng-repeat="file in files.slice(0)" class="left" data-ng-show="filepicker.args.multi">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span data-ng-switch="file.size > 1024*1024">
                <span data-ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span data-ng-switch-default>{{file.size / 1024 | number:2}} KB</span>
            </span>)
        </div>
        <div data-ng-show="progressVisible">
	        <div class="progress progress-striped active">
	            <div class="bar" data-ng-style="{'width': progress+'%'}">{{progress}}%</div>
	        </div>
	    </div>
	    
	    <div data-ng-include="'filepicker-edit-list'"></div>
    </div>
    
    <div class="modal-body" data-ng-show="filepicker.args.type == 'DOWNLOAD'">
        <div data-ng-include="'filepicker-download-list'"></div>
	</div>
	<!-- footer -->
	<div class="modal-footer" data-ng-show="filepicker.args.type == 'UPLOAD'">
	    <div class="btn-group pull-left" data-ng-show="filepicker.args.services.length > 1">
	    	<button class="btn" data-toggle="dropdown">Upload From</button>
	    	<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu left">
			    <li data-ng-repeat="key in filepicker.args.services" data-ng-show="filepicker.services[key]">
			    	<a href="" data-ng-click="filepicker.location(key)"><i class="icon-{{filepicker.services[key].icon}}"></i> {{filepicker.services[key].name}}</a>
			    </li>
			</ul>
        </div>
        
        <div class="pull-right">
        	<!-- resizecrop -->
	        <div class="btn-group">
	        	<button	class="btn btn-primary" data-ng-click="resizecrop.save()" data-ng-show="filepicker.args.service == 'RESIZECROP'">Save</button>
	        </div>
	        <!-- camera -->
	        <div class="btn-group">
	        	<button	class="btn btn-primary" data-ng-click="camera.save()" data-ng-show="filepicker.args.service == 'CAMERA'">Snap Photo</button>
	        </div>
	        <div class="btn-group">
	        	<button class="btn" data-dismiss="modal" data-ng-click="filepicker.close()">Close</button>
	        </div>
        </div>
    </div>
    <div class="modal-footer" data-ng-show="filepicker.args.type == 'DOWNLOAD'">
        <div class="btn-group pull-left" data-ng-show="filepicker.args.services.length > 1">
	    	<button class="btn" data-toggle="dropdown">Download To</button>
	    	<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu left">
			    <li data-ng-repeat="key in filepicker.args.services" data-ng-show="filepicker.services[key]">
			    	<a href="" data-ng-click="filepicker.location(key)"><i class="icon-{{filepicker.services[key].icon}}"></i> {{filepicker.services[key].name}}</a>
			    </li>
			</ul>
        </div>
        
        <div class="pull-right">
	        <div class="btn-group">
	        	<a	class="btn btn-primary" data-ng-href="{{settings.server}}/filepicker/download/{{filepicker.args.action}}/{{filepicker.args.ID}}">Download .zip</a>
	        </div>
	        <div class="btn-group">
	        	<button class="btn" data-dismiss="modal" data-ng-click="filepicker.close()">Close</button>
	        </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="filepicker-edit-list"><ul class="unstyled">
    	<li data-ng-repeat="file in filepicker.args.files" data-ng-click="filepicker.confirmDelete(file.name, filepicker.deleteFile)">
    		<i class="icon-remove"></i> 
    		<span>{{file.name}} ({{file.size_str}})</span>
    		<i class="pull-right">{{file.date*1000 | date}}</i>
    	</li>
    </ul>
</script>

<script type="text/ng-template" id="filepicker-download-list"><ul class="unstyled">
    	<li data-ng-repeat="file in filepicker.args.files" data-ng-click="filepicker.downloadFile(file.name)">
    		<a data-ng-href="{{settings.server}}/filepicker/download/{{filepicker.args.action}}/{{filepicker.args.ID}}/{{file.name}}">
        		<i class="icon-cloud-download"></i> 
        		<span>{{file.name}} ({{file.size_str}})</span>
        		<i class="pull-right">{{file.date*1000 | date}}</i>
    		</a>
    	</li>
    </ul>
</script>
