<div data-ng-controller="DashboardCtrl">
	
	<!--
	<div class="hero-unit">
	    <h1>Dashboard</h1>
		<p>Your App Home Page / Panel Goes Here</p>
	</div>
	-->
	<div class="row">
		<div class="span6">
		<form name="siteForm" class="form">
			<div class="input-append">
				<input type="url" name="site" class="input-xlarge" placeholder="Enter URL to license. Include http://" data-ng-model="site" required>
				<button class="btn" data-ng-click="addSite(site)" data-ng-disabled="siteForm.$invalid">Add</button>
			</div>
			<span class="help-block error" data-ng-show="siteForm.site.$error.url">Not valid URL.</span>
		</form>

		<ul class="unstyled">
			<li data-ng-repeat="(key, s) in sites"><i class="icon-trash" data-ng-click="confirmSiteDelete(key, s)"></i>&nbsp;{{s}}</li>
		</ul>
		</div>
		<div class="span6">
			<form class="form-search">
				<input data-ng-model="search.query" type="text" class="input-medium search-query inline" placeholder="Search directory" data-ng-change="loadSearch()">
				
				<label class="radio inline">
					<input type="radio" ng-model="search.type" value="company" data-ng-change="loadSearch()">Company
				</label>
				<label class="radio inline">
					<input type="radio" ng-model="search.type" value="user" data-ng-change="loadSearch()">User
				</label>
			</form>
			
			<table class="table table-striped">
				<thead><tr><th>&nbsp;</th></tr></thead>
				<tbody>
				<tr class="ng-click" data-ng-repeat="r in results">
					<td data-ng-show="search.type == 'user' && r.user_name_first">
						<img data-ng-src="img/user/{{r.ID}}.png" class="img-polaroid" width="50" height="50" align="left" style="margin-right:10px">
						<p><b>{{r.user_name_first}} {{r.user_name_last}}</b></p>
			            <p data-ng-show="r.user_function">{{r.user_function}}</p>
			            <div class="btn-group">
			            	<button class="btn" data-ng-click="message.open(r.user_ID, r.user_name_first+' '+r.user_name_last)"><i class="icon-envelope"></i></button>
			            	<!--<a class="btn" rel="tooltip" title="+{{json.calling_codes[company.location.country_code]}} {{r.user_phone | phone}}" href="tel:+{{json.calling_codes[company.location.country_code]}} {{r.user_phone}}" data-ng-disabled="r.user_phone == ''"><i class="icon-phone"></i></a>-->
			            </div>
					</td>
					<td data-ng-show="search.type == 'company' && r.company_name">
						<img data-ng-src="img/company/{{r.company_ID}}.png" class="img-polaroid" width="75" height="50" align="left" style="margin-right:10px">
						<p><b>{{r.company_name}}</b></p>
						<p data-ng-show="r.company_url"><i class="icon-link"></i>&nbsp;<a href="" data-ng-click="href(r.company_url, true)">{{r.company_url}}</a></p>
						<!--<p data-ng-show="r.company_phone"><i class="icon-phone"></i>&nbsp;<a href="tel:+{{json.calling_codes[location.country_code]}} {{r.company_phone}}">+{{json.calling_codes[location.country_code]}} {{company.company_phone | phone}}</a></p>-->
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
