
<!-- Company Profile -->
<div class="row-fluid" data-ng-controller="CompanyCtrl">
	<div class="span6 offset3 well">

		<form name="onboardCompanyForm" class="form-vertical">
	    	<legend>
	    		Company Profile
	    		<div class="btn-group pull-right">
					<button class="btn btn-primary" data-ng-click="updateCompany()" data-ng-disabled="onboardCompanyForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button>
					<button class="btn" data-ng-disabled="!company.company_ID" data-ng-click="button.skip()">Next &raquo;</button>
				</div>
	    	</legend>
	    	
	    	<div class="control-group" data-ng-show="filepicker && company.company_ID">
				<!--<label class="control-label" for="company_img">Logo</label>-->
		
				<div class="controls center">
		    		<img data-ng-src="img/company/{{company.company_ID}}.png?{{filepicker.timestamp}}" class="img-polaroid" style="width:75px; height:50px;"/>
					<button class="btn" data-ng-click="filepicker.upload(settings.filepicker.company_single_image, company.company_ID);" data-ng-disabled="!company.company_ID">Change logo</button>
					<!--<span class="help-block">This photo is your identity and appears with your content.</span>-->
		    	</div>
		    </div>
		    
	    	<div class="control-group" data-ng-class="{error: (errors.company_name)}">
	          	<label class="control-label">Company Name</label>
	          	<div class="controls">
		            <input type="text" class="input-block-level" name="company_name" placeholder="required" data-ng-model="company.company_name" required>
		            <!--<span class="help-block error" data-ng-show="onboardCompanyForm.company_name.$error.required">Required</span>-->
		            <span class="help-block error" data-ng-show="errors.company_name">{{errors.company_name}}</span>
	            </div>
	        </div>

	        <!--<div class="control-group" data-ng-class="{error: (errors.company_type)}">
	          	<label class="control-label" for="company_type">Company Type</label>
	          	<div class="controls">
		            <select class="input-large" data-ng-model="company.company_type" data-ng-options="key as value for (key, value) in select.company_types" required></select>
		            <span class="help-block error" data-ng-show"errors.company_type">{{errors.company_type}}</span>
	            </div>
	        </div>-->

	        <div class="control-group" data-ng-class="{error: (errors.company_url)}">
	          	<label class="control-label" for="company_url">Website</label>
	          	<div class="controls">
		            <input type="url" class="input-block-level" name="company_url" data-ng-model="company.company_url" placeholder="http://">
		            <!--<span class="help-block error" data-ng-show="onboardCompanyForm.company_name.$error.required">Required</span>-->
		            <span class="help-block error" data-ng-show="onboardCompanyForm.company_url.$error.url">Not valid url</span>
		            <span class="help-block error" data-ng-show="errors.company_url">{{errors.company_url}}</span>
	            </div>
	        </div>
	        
	        <div data-ui-if="company.company_ID">
	        <hr>
	        
	        <div class="control-group" data-ng-class="{error: (errors.address_1)}">
		      	<label class="control-label" for="location_name">Location Name</label>
		      	<div class="controls">
		            <input type="text" class="input-block-level" data-ng-model="location.location_name" placeholder="Head Office" required>
		            <span class="help-block error" data-ng-show="errors.location_name">{{errors.location_name}}</span>
		        </div>
		    </div>
		
		    <div class="control-group" data-ng-class="{error: (errors.address_1)}">
		      	<label class="control-label" for="address_1">Address</label>
		      	<div class="controls">
		            <input type="text" class="input-block-level" data-ng-model="location.address_1" placeholder="street address, P.O. box, c/o" required>
		            <span class="help-block error" data-ng-show="errors.address_1">{{errors.address_1}}</span>
		        </div>
		    </div>
		
		    <div class="control-group" data-ng-class="{error: (errors.address_2)}">
		      	<label class="control-label" for="address_2"></label>
		      	<div class="controls">
		            <input type="text" class="input-block-level" data-ng-model="location.address_2" placeholder="apartment, suite, unit, building, floor, etc.">
		            <span class="help-block error" data-ng-show="errors.address_2">{{errors.address_2}}</span>
		        </div>
		    </div>
		
		    <div class="control-group" data-ng-class="{error: (errors.city)}">
		      	<label class="control-label" for="city">City</label>
		      	<div class="controls">
		            <input type="text" class="input-block-level" data-ng-model="location.city" required>
		            <span class="help-block error" data-ng-show="errors.city">{{errors.city}}</span>
		            <p class="help-block error"></p>
		        </div>
		    </div>
		
		    <div class="control-group" data-ng-class="{error: (errors.region_code)}">
		      	<label class="control-label" for="region_code">Province/Region/State</label>
		      	<div class="controls">
		            <select class="input-block-level" data-ng-model="location.region_code" data-ng-options="key as value for (key, value) in json.regions[location.country_code]" required></select>
		            <span class="help-block error" data-ng-show="errors.region_code">{{errors.region_code}}</span>
		        </div>
		    </div>
		
		    <div class="control-group" data-ng-class="{error: (errors.country_code)}">
		      	<label class="control-label" for="country_code">Country</label>
		      	<div class="controls">
		            <select class="input-block-level" data-ng-model="location.country_code" data-ng-options="key as value for (key, value) in json.countries" data-ng-change="loadRegions(location.country_code)" required></select>
		            <span class="help-block error" data-ng-show="errors.country_code">{{errors.country_code}}</span>
		        </div>
		    </div>
		    
		    <div class="control-group" data-ng-class="{error: (errors.mail_code)}">
		      	<label class="control-label" for="mail_code">Postal/Zip Code</label>
		      	<div class="controls">
		            <input type="text" class="input-block-level" data-ng-model="location.mail_code">
		            <span class="help-block error" data-ng-show="errors.mail_code">{{errors.mail_code}}</span>
		        </div>
		    </div>
		    
		    <div class="control-group" data-ng-class="{error: (errors.location_phone)}">
		      	<label class="control-label" for="location_phone">Phone</label>
		      	<div class="controls">
		          	<div class="input-prepend">
		                <span class="add-on">+{{json.calling_codes[location.country_code]}}</span><input type="text" class="" name="location_phone" placeholder="(000) 000-0000" data-ng-model="location.location_phone" data-input-mask="(999) 999-9999 x999999">
		            </div>
		            <span class="help-block error" data-ng-show="errors.location_phone">{{errors.location_phone}}</span>
		        </div>
		    </div>
	        </div>
	        
	        <hr>
	        <div class="btn-group pull-right">
				<button class="btn btn-primary" data-ng-click="updateCompany(); updateLocation();" data-ng-disabled="onboardCompanyForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button>
				<button class="btn" data-ng-disabled="!company.company_ID" data-ng-click="button.skip()">Next &raquo;</button>
			</div>
		</form>
	</div>
</div>