<div class="row-fluid" data-ng-controller="InviteCtrl">
	<div class="span6 offset3 well center">
		<fieldset><legend>
			Spread the Word...
			<div class="btn-group pull-right">
				<button class="btn" data-ng-click="button.skip()">Next &raquo;</button>
			</div>
		</legend></fieldset>

		<p class="center">Share this link with friends and coworkers</p>
		<div class="input-append center">
			<input type="text" class="" value="{{i18n.domain}}/#/?ref={{session.account.referral}}" />
			<span class="add-on" onclick="clipboard('{{i18n.domain}}/#/?ref={{session.account.referral}}')"><i class="icon-copy"></i></span>
		</div>
		<div class="center">
			<button class="btn" data-ng-click="mailto(i18n.invite_mail_subject,i18n.invite_mail_body+' '+i18n.domain+'/#/?ref='+session.account.referral)"><i class="icon-envelope"></i> Share via Email</button>
			<button class="btn" data-ng-click="twitter(i18n.invite_twitter_tweet,i18n.domain+'/#/?ref='+session.account.referral)">
			<i class="icon-twitter"></i> Share via Twitter
			</button>
		</div>
	</div>
	</div>
</div>
