<div data-ng-controller="PasswordCtrl">
<div class="row-fluid">

	<div class="span4">&nbsp;</div>
	<div class="span4">
	 	
	 	<!-- password min timestamp -->
		<div class="alert alert-error" data-ng-show="settings.password.min_timestamp && session.password_timestamp < settings.password.min_timestamp" data-ng-click="href('#/account/settings');">
		  	<strong>Danger!</strong> For your protection you must that you change it to stay secure. Click here to change password.
		</div>
	
		<!-- min password age -->
		<div class="alert alert-error" data-ng-show="settings.password.max_age && session.password_age > settings.password.max_age" data-ng-click="href('#/account/settings');">
		  	<strong>Danger!</strong> Your password is {{session.password_age | number}} days old. For your protection we suggest that you change it to stay secure.
		</div>
	 	
		<form name="changePasswordForm" class="form-vertical well">
			<legend>Change Password<button class="btn btn-primary pull-right" data-ng-click="updatePassword()" data-ng-disabled="changePasswordForm.$invalid || changePasswordForm.new_password.$invalid"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	        <div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts.password">
			  	<button class="close" data-dismiss="alert">&times;</button>
			  	<strong>{{alert.label}}</strong> {{alert.message}}
			</div>

	        <div class="control-group {{errors.password.old_password.class}}">
	          	<!--<label class="control-label" for="password.old_password">Old Password</label>-->
	          	<div class="controls">
	          		<input type="password" name="old_password" class="span" placeholder="Old Password" data-ng-model="password.old_password" required/>
	          		<!--<span class="help-block" data-ng-show="changePasswordForm.old_password.$error.required">Old Password is required</span>-->
	          		<span class="help-block" data-ng-show="errors.password.old_password">{{errors.password.old_password.message}}</span>
	          	</div>
	        </div>

	        <div class="control-group {{errors.password.new_assword.class}}">
	        	<!--<label class="control-label" for="password.new_password">New Password</label>-->
		        <div class="controls">
		        	<input type="password" name="password" class="span" placeholder="New Password" data-ng-model="password.new_password" data-ng-change="validate.password(changePasswordForm.password, password.new_password, password.old_password, settings.password)" required/>
			        <!--<span class="help-block" data-ng-show="changePasswordForm.password.$error.required">New Password is required</span>-->
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.minlength">Password too short, must be {{settings.password.min_length}} or more</span>
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.lower">Password needs at least one lower case letter</span>
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.upper">Password needs at least one upper case letter</span>
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.number">Password needs at least one number</span>
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.special">Password needs an special character (!"£$%&...)</span>
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.identical">Password cannot have more than two identical characters</span>
			        <span class="help-block" data-ng-show="changePasswordForm.password.$error.sameas">Password cannot be that same as your old password</span>
			        <span class="help-block" data-ng-show="errors.password.new_password">{{errors.password.new_password.message}}</span>
		        </div>
	        </div>
	    </form>
    </div>

</div>
</div>