<div class="pull-center">
	<form class="well" name="form">
		<fieldset><legend>One-time Password</legend></fieldset>

		<!--<div class="control-group center"><img data-ng-src="img/user/{{session.user.user_ID}}.png" class="img-polaroid pull-center" width="100" height="100" /></div>-->
		<div class="control-group center"><img data-ng-src="/img/user/{{user_ID}}.png" class="img-rounded" width="100" height="100" /></div>

		<div class="control-group" data-ng-class="{error: (errors.totp)}">
			<input type="text" name="totp" class="input-block-level" placeholder="One-time Password" data-ng-model="code" data-field-error="totp" required>
			<span class="help-block error" data-ng-show="errors.totp">{{errors.totp}}</span>
		</div>

		<!--<div class="btn-group">
			<button class="btn">{{totp.timer}}s</button>
			<button class="btn"><i class="icon-refresh"></i></button>
		</div>-->
		<button class="btn btn-success pull-right" data-ng-click="account_totp(code)" data-ng-disabled="form.$invalid">Verify</button>
		<br>
	</form>

	<a href="#/sign/out">Sign Out</a>

</div>
