<div class="pull-center">
	<form class="well" name="form">
		<fieldset><legend>Sign Up</legend></fieldset>
		<div class="control-group" data-ng-class="{error: (errors.email)}">
			<input type="email" name="email" class="input-block-level" placeholder="Email" data-ng-model="signup.email" data-field-error="email" required>
			<!--<span class="error" data-ng-show="signinForm.email.$error.required">Email is required</span>-->
			<span class="help-block error" data-ng-show="form.email.$error.email">Not valid email</span>
			<span class="help-block error" data-ng-show="errors.email">{{errors.email}}</span>
		</div>

		<div class="control-group" data-ng-class="{error: (errors.password)}">
			<input type="text" name="password" class="input-block-level" placeholder="Password" data-ng-model="signup.password" data-password-check data-field-error="password" required>
			<!--<span class="help-block error" data-ng-show="signinForm.password.$error.required">Password is required</span>-->
			<span class="help-block error" data-ng-show="form.password.$error.minlength">Password too short, must be {{config.min_length}} or more</span>
			<span class="help-block error" data-ng-show="form.password.$error.lower">Password needs at least one lower case letter</span>
			<span class="help-block error" data-ng-show="form.password.$error.upper">Password needs at least one upper case letter</span>
			<span class="help-block error" data-ng-show="form.password.$error.number">Password needs at least one number</span>
			<span class="help-block error" data-ng-show="form.password.$error.special">Password needs at least one special character (!"£$%&...)</span>
			<span class="help-block error" data-ng-show="form.password.$error.identical">Password cannot have more than two identical characters</span>
			<span class="help-block error" data-ng-show="errors.password">{{errors.password}}</span>
			<!--<span class="help-block" data-ng-show="objectLength(form.password.$error) > 2">Our intern could crack that password, best to be safe and make it stronger.</span>-->
		</div>

		<button class="btn btn-primary" data-ng-click="account_signup()" data-ng-disabled="form.$invalid">Sign Up</button>
	</form>
	<a href="#/sign/in">Sign In</a>
</div>