<div data-ng-controller="CompanyCtrl">
<div class="row-fluid">

	<div class="span4">

		<form name="companyForm" class="form-vertical">
	    	<legend>
	    		Company Profile
	    		<div class="btn-group pull-right">
					<button class="btn btn-primary" data-ng-click="updateCompany()" data-ng-disabled="companyForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button>
				</div>
	    	</legend>

	    	<div class="control-group {{errors.company_name.class}}">
	          	<label class="control-label">Company Name</label>
	          	<div class="controls">
		            <input type="text" class="span" name="company_name" placeholder="Required" data-ng-model="company.company_name" required>
		            <!--<span class="help-block" data-ng-show="companyForm.company_name.$error.required">Required</span>-->
		            <span class="help-block" data-ng-show="errors.company_name">{{errors.company_name.message}}</span>
	            </div>
	        </div>

	        <div class="control-group {{errors.company_url.class}}">
	          	<label class="control-label" for="company_url">Website</label>
	          	<div class="controls">
		            <input type="url" class="span" name="company_url" data-ng-model="company.company_url" placeholder="https://">
		            <!--<span class="help-block" data-ng-show="onboardCompanyForm.company_name.$error.required">Required</span>-->
		            <span class="help-block" data-ng-show="companyForm.company_url.$error.url">Not valid url</span>
		            <span class="help-block" data-ng-show="errors.company_url">{{errors.company_url.message}}</span>
	            </div>
	        </div>

	        <div class="control-group {{errors.company_phone.class}}">
	          	<label class="control-label" for="company_phone">Phone</label>
	          	<div class="controls">
		          	<div class="input-prepend">
		                <span class="add-on">+{{json.calling_codes[country_code]}}</span><input type="text" class="" name="company_phone" placeholder="(000) 000-0000" data-ng-model="company.company_phone" data-input-mask="(999) 999-9999 x999999">
		            </div>
		            <span class="help-block" data-ng-show="errors.company_phone">{{errors.company_phone.message}}</span>
	            </div>
	        </div>
	        
	        <div class="control-group {{errors.user_default_ID.class}}">
	          	<label class="control-label" for="user_default_ID">Primary User</label>
	          	<div class="controls">
		          	<select class="span" data-ng-model="company.user_default_ID" data-ng-options="value.user_ID as value.user_name_first+' '+value.user_name_last for (key, value) in users" required></select>
		            <span class="help-block" data-ng-show="errors.user_default_ID">{{errors.user_default_ID.message}}</span>
	            </div>
	        </div>
	        
	        <div class="control-group {{errors.location_default_ID.class}}">
	          	<label class="control-label" for="location_default_ID">Primary Location</label>
	          	<div class="controls">
		          	<select class="span" data-ng-model="company.location_default_ID" data-ng-options="value.location_ID as value.location_name for (key, value) in locations" required></select>
		            <span class="help-block" data-ng-show="errors.location_default_ID">{{errors.location_default_ID.message}}</span>
	            </div>
	        </div>

		</form>
		
	</div>
	<div class="span4">
		
		<form name="locationForm" class="form-vertical">
	    	<legend>
	    		<span data-ng-show="toggle.location && !location.location_ID">New Location</span>
	    		<span data-ng-show="toggle.location && location.location_ID">Edit Location</span>
	    		<span data-ng-hide="toggle.location">Locations</span>
	    		<div class="pull-right">
		    		<div class="btn-group" data-ng-show="toggle.location">
						<button class="btn btn-primary" data-ng-click="toggle.location = false"><i class="icon-list"></i></button>
					</div>
					
					<div class="btn-group" data-ng-show="toggle.location">
						<button class="btn btn-primary" data-ng-click="updateLocation()" data-ng-disabled="locationForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button>
					</div>
					
					<div class="btn-group" data-ng-hide="toggle.location">
						<button class="btn btn-primary" data-ng-click="editLocation(); toggle.location = true"><i class="icon-plus"></i>&nbsp;New</button>
					</div>
	    		</div>
	    	</legend>
	    	
	    	<div data-ng-hide="toggle.location">
	    		<div class="well ng-click" data-ng-repeat="l in locations" data-ng-click="editLocation(l); toggle.location = true">
			        <div class="row">
	    				<div class="span1"></div>
	    				<div class="span5">
				            <!--<img src="http://placehold.it/100x100" width="100" height="100" />-->
				            <!--<img data-ng-src="https://maps.google.com/maps/api/staticmap?center={{l.latitude}},{{l.longitude}}&zoom=14&size=100x100&maptype=terain&markers=color:red%7Clabel:{{company.company_name}}&sensor=false" class="img-polaroid">-->
				            <img data-ng-src="https://maps.google.com/maps/api/staticmap?zoom=14&size=100x100&maptype=terain&markers=color:red|{{l.address_1}},{{l.city}},{{l.region_code}},{{l.country_code}},{{l.mail_code}}&sensor=false" class="img-polaroid">
				        </div>
				        <div class="span6">
				            <b><i class="icon-edit pull-right"></i>{{l.location_name}}</b><br>
				            <span>{{l.address_1}}</span><br>
				            <span data-ng-show="l.address_2">{{l.address_2}}<br></span>
				            <span>{{l.city}}, {{l.region_code}}, {{l.country_code}}</span><br>
				            <span>{{l.mail_code}}</span><br>
				            <span data-ng-show="l.location_phone"><i class="icon-phone"></i>&nbsp;+{{json.calling_codes[l.country_code]}} {{l.location_phone | phone}}<br></span>
				            <!--<p>{{l.latitude}},{{l.longitude}}</p>-->
				        </div>
			        </div>
		        </div>
	    	</div>
	    	
	    	<div data-ng-show="toggle.location">

		    <div class="control-group {{errors.address_1.class}}">
	          	<label class="control-label" for="address_1">Location Name</label>
	          	<div class="controls">
		            <input type="text" class="span" data-ng-model="location.location_name" placeholder="Head Office" required>
		            <span class="help-block" data-ng-show="errors.address_1">{{errors.address_1.message}}</span>
	            </div>
	        </div>

		    <div class="control-group {{errors.address_1.class}}">
	          	<label class="control-label" for="address_1">Address</label>
	          	<div class="controls">
		            <input type="text" class="span" data-ng-model="location.address_1" placeholder="street address, P.O. box, c/o" required>
		            <span class="help-block" data-ng-show="errors.address_1">{{errors.address_1.message}}</span>
	            </div>
	        </div>

	        <div class="control-group {{errors.address_2.class}}">
	          	<label class="control-label" for="address_2"></label>
	          	<div class="controls">
		            <input type="text" class="span" data-ng-model="location.address_2" placeholder="apartment, suite, unit, building, floor, etc.">
		            <span class="help-block" data-ng-show="errors.address_2">{{errors.address_2.message}}</span>
	            </div>
	        </div>

	        <div class="control-group {{errors.city.class}}">
	          	<label class="control-label" for="city">City</label>
	          	<div class="controls">
		            <input type="text" class="span" data-ng-model="location.city" required>
		            <span class="help-block" data-ng-show="errors.city">{{errors.city.message}}</span>
		            <p class="help-block"></p>
	            </div>
	        </div>

	        <div class="control-group {{errors.region_code.class}}">
	          	<label class="control-label" for="region_code">Province/Region/State</label>
	          	<div class="controls">
		            <select class="span" data-ng-model="location.region_code" data-ng-options="key as value for (key, value) in json.regions[location.country_code]" required></select>
		            <span class="help-block" data-ng-show="errors.region_code">{{errors.region_code.message}}</span>
	            </div>
	        </div>

	        <div class="control-group {{errors.country_code.class}}">
	          	<label class="control-label" for="country_code">Country</label>
	          	<div class="controls">
		            <select class="span" data-ng-model="location.country_code" data-ng-options="key as value for (key, value) in json.countries" data-ng-change="loadRegions(location.country_code)" required></select>
		            <span class="help-block" data-ng-show="errors.country_code">{{errors.country_code.message}}</span>
	            </div>
	        </div>
	        
	        <div class="control-group {{errors.mail_code.class}}">
	          	<label class="control-label" for="mail_code">Postal/Zip Code</label>
	          	<div class="controls">
		            <input type="text" class="span" data-ng-model="location.mail_code" required>
		            <span class="help-block" data-ng-show="errors.mail_code">{{errors.mail_code.message}}</span>
	            </div>
	        </div>
	        
	        <div class="control-group {{errors.location_phone.class}}">
	          	<label class="control-label" for="location_phone">Phone</label>
	          	<div class="controls">
		          	<div class="input-prepend">
		                <span class="add-on">+{{json.calling_codes[location.country_code]}}</span><input type="text" class="" name="location_phone" placeholder="(000) 000-0000" data-ng-model="location.location_phone" data-input-mask="(999) 999-9999 x999999">
		            </div>
		            <span class="help-block" data-ng-show="errors.location_phone">{{errors.location_phone.message}}</span>
	            </div>
	        </div>
	        
	        <button class="btn btn-danger" data-ng-click="deleteLocation(location.location_ID); toggle.location = false" data-ng-show="location.location_ID && company.location_default_ID != location.location_ID">Delete Location</button>
	        
	    	</div>
	    	
		 </form>

	 </div>
	 <div class="span4">
		 
		 <form name="userForm" class="form-vertical">
	    	<legend>
	    		<span data-ng-show="toggle.user && !user.user_ID">New User</span>
	    		<span data-ng-show="toggle.user && user.user_ID">Edit User</span>
	    		<span data-ng-hide="toggle.user">Users</span>
	    		<div class="pull-right">
		    		<div class="btn-group" data-ng-show="toggle.user">
						<button class="btn btn-primary" data-ng-click="toggle.user = false"><i class="icon-list"></i></button>
					</div>
					
					<div class="btn-group" data-ng-show="toggle.user">
						<button class="btn btn-primary" data-ng-click="updateUser()" data-ng-disabled="userForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button>
					</div>
					
					<div class="btn-group" data-ng-hide="toggle.user">
						<button class="btn btn-primary" data-ng-click="editUser(); toggle.user = true"><i class="icon-plus"></i>&nbsp;New</button>
					</div>
	    		</div>
	    	</legend>
	    	
	    	<div data-ng-hide="toggle.user">
	    		<div class="well ng-click" data-ng-repeat="u in users" data-ng-click="editUser(u); toggle.user = true">
	    			<div class="row">
	    				<div class="span1"></div>
				        <div class="span5">
				            <img data-ng-src="/img/user/{{u.user_ID}}.png" class="img-polaroid" style="width:100px; height:100px;" />
				        </div>
				        <div class="span6">
				            <b><i class="icon-edit pull-right"></i>{{u.user_name_first}} {{u.user_name_last}}</b><br>
				            <p data-ng-show="u.user_function">{{u.user_function}}</p>
				            <i class="icon-envelope"></i>&nbsp;{{u.user_email}}<br>
				            <span data-ng-show="u.user_phone"><i class="icon-phone"></i>&nbsp;+{{json.calling_codes[company.location.country_code]}} {{u.user_phone | phone}}<br></span>
				            
				        </div>
	    			</div>
		        </div>
	    	</div>
	    	<div data-ng-show="toggle.user">
	    	
	    	</div>
		 </form>
	</div>

</div>

<br>

<div class="row-fluid">
	<div class="span6">
	    <legend>About Details<button class="btn btn-primary pull-right" data-ng-click="updateCompany()"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	    <textarea class="span" rows="15" data-ng-model="company.company_details"></textarea>
		<div class="help-block">Markdown Syntax Supported<br>(&nbsp;<b>**bold**</b>,&nbsp;<i>_emphasis_</i>&nbsp;)</div>
	</div>
	
	<div class="span6">
		<legend>About Preview</legend>
		<div ng-bind-html-unsafe="compileMarkdown(company.company_details)"></div>
		<div class="help-block" data-ng-show="company.company_details == ''">
			Enter text to the left to have a preview generated here.
		</div>
	</div>
</div>

</div>
