
<form name="contactForm" class="form-horizontal" data-ng-controller="ContactCtrl">
	
	<legend>Contact</legend>
	<hr>

	<div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" name="name" class="input-block-level" data-ng-model="contact.name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="email" name="email" class="input-block-level" data-ng-model="contact.email" required>
        <span class="help-block error" data-ng-show="contactForm.email.$error.email">Not valid email</span>
      </div>
    </div>

    <!--<div class="control-group">
      <label class="control-label">Subject</label>
      <div class="controls">
        <input type="text" class="input-large" data-ng-model="contact.subject" required>
      </div>
    </div>-->

    <div class="control-group">
      <label class="control-label" for="message">Message</label>
      <div class="controls">
        <textarea name="message" class="input-block-level" data-ng-model="contact.message" rows="6" data-ng-minlength="1" required></textarea>
      </div>
    </div>
    
    <hr>
    
     <div class="control-group">
      <div class="controls">
      	<button class="btn" data-ng-click="sendMessage()" data-ng-disabled="contactForm.$invalid">Send message</button>
      </div>
    </div>

</form>
