<div style="padding:10px 19px">
<h1>Cookies</h1>
<p>Like most websites we use 'cookies' to collect anonymous statistics about how people use the site, and to help us keep it relevant for the user. Cookies 'remember' bits of information from your visit to the site.</p>

<p>A cookie is a simple text file that's stored on your computer or mobile device by a website's server. Only that server can retrieve or read the contents of that cookie. Each cookie is unique to your web browser. So if we put a cookie on your computer, it can't be read by any other website.</p>

<p>We use two types of cookie:</p>
<ul>
	<li>'session cookies' last as long as your current visit to the site, or for up to a limited amount of time if you keep the site open without using it. They mean you don't have to keep re-submitting information as you move through the site or carry out transactions.</li>
	<li>'persistent cookies' remember information from previous visits, for example names and details for online forms. They are used to collect anonymous statistics about how many people use the site, and to maintain any settings (such as accessibility) you have changed.</li>
</ul>

<h3>How we use cookies to collect statistics</h3>

<p>To improve our service we collect anonymous web statistics using programmes called Google Analytics.</p>

<p>They store several cookies on users' computers or mobiles devices to tell us how many people have visited each web page, how they got there, and where they navigated to from there. The data collected is completely anonymous and does not store any personal details.</p>

<h3>Changing your cookie sessions</h3>

<p>You can change your computer or device to accept all cookies, to notify you when a cookie is issued, or not to receive cookies at any time. How you do this depends on the web browser which you use.</p>

<a href="http://www.aboutcookies.org" target="_blank">Find out more at www.aboutcookies.org</a>

<!--<a href="http://www.wikihow.com/Enable-Cookies-and-JavaScript" target="_blank">Sets to enable cookies.</a>-->

<h3 data-ng-show="cookies">Our Site Cookies</h3>
<table class="table table-striped" data-ng-show="cookies">
	<thead><tr>
		<th>Name</th>
		<th>Value</th>
	</tr></thead>
	<tbody>
		<tr data-ng-repeat="(key, value) in cookies">
			<td>{{key}}</td>
			<td>{{value}}</td>
		</tr>
	</tbody>
</div>
