/* Example stylesheet for to increase readability on websites */

/* Shameless plug, but use a font designed 
   for greater readability than just looking cool. 
   This one is designed for dyslexic readers, though
   it can be useful to increase readability for anyone 
   else                                                 */

@font-face {
    font-family: opendyslexic;
    src: url(/font/OpenDyslexic-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: opendyslexic;
    src: url(/font/OpenDyslexic-Italic.otf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: opendyslexic;
    src: url(/font/OpenDyslexic-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: opendyslexic;
    src: url(/font/OpenDyslexic-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

.accessibility * {
   font-family: opendyslexic;
}

/* Reload FontAwesome for icons */
.accessibility [class^="icon-"],[class*=" icon-"] {
	font-family: FontAwesome;
 }

/* Use an off-white background. Some users need high
   contrast for better reading. Some need low contrast. 
   A happy medium would be off white to reduce "glare"
   and black text. Anyone that needs a greater extreme
   likely overrides stylesheets.                       
   The text is colored dark blue to assist with "glare"
   issues, but also to make the black symbols subtly stand
   out.                                                  */
.accessibility body {
	font-size: 14px;
	line-height: 200%;
	margin: auto 0;
	padding: 0 100;
	color: #1A0033; 
}

/* the highlight class is being used in conjuction 
   with a script that results in symbols being colored 
   differently. This helps comprehension by making them
   subtly more visable.                                 */
/*.accessibility h1, 
.accessibility h2, 
.accessibility h3, 
.accessibility h4, 
.accessibility .highlight {
	font-style: bold;
	color: black;
}*/
.accessibility .highlight {
	font-size: 125%;
}

/* alternate paragraph shading helps users stay
   on track while reading. This shading is very 
   subtle so it is not annoying, but it still 
   helps.                                       */
.accessibility p:nth-child(even),
.accessibility li:nth-child(even) {
	background-color: rgba(0,0,0, 0.03);
}


/* highlight text under cursor helps users focus
   on what they are currently reading. This shading
   is darker than the alt-paragraph shading.        */
/*.accessibility p:hover, .accessibility li:hover {
   background-color: rgba(0,0,0, 0.5) !important;

}*/

.accessibility .accessibility-ruler {
	height: 1.5em;
	background-color: rgba(0,0,0,.1);
	width: 100%;
	position: absolute;
	top:-100px;
	z-index: 0;
	
	/* allow click through*/
	pointer-events:none;
}
