/* fontawesome */
/* place icon inside input field */
.icon-input {
	position: relative;
	margin: 2.5px 0 0 -24px;
}


/* Footer - Mobile Fix
-------------------------------------------------- */
/* override body padding on footer on smaller screen sizes */
@media (max-width:767px) {
	body {
		padding: 0;
	}
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

/* make nav more condensed */
@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0 5px;
	}
}


/*************** Bootstrap Add-ons ***************/
form { margin:0; }
.modal { overflow: visible; }

.pull-center {
	margin:0 auto;
	float:none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* for multiple tags */
.label {
	margin-right:0.3em;
}

.help-block.error, .help-inline.error {
  color: #b94a48;
}

.help-block.success, .help-inline.success {
  color: #468847;
}

/* image resize and crop */
#resizecrop canvas, #resizecrop canvas:hover { 
    cursor: move;
    /*cursor: grab;*/
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#resizecrop canvas:active { 
    cursor: move;
    /*cursor: grabbing;*/
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

input[type='range'] {
	display: inline-block;
	margin: 0 10px;
	width: 208px;
	height: 7px;
	background-color: #eee;
	border: 0;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
	box-shadow: inset 0 0 3px rgba(0,0,0,.15);
}

/*************** AngularJS Add-ons ***************/

.ng-click {
  cursor: hand;
}


/*************** Custom Styles ***************/

.nav-tabs.nav-stacked>li>a {
	background-color:#FFF;
}
.well-white {
	background-color:#FFF;
	min-height: 20px;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);	
}

.well-white legend {
	border-bottom: none;
	margin-bottom:0;
}
.well-white legend, .well-white .control-group {
	padding: 0 19px;
}

.well-white .alert-white {
	padding: 5px 19px;
}

.well-white fieldset+hr, .well-white .alert-white+hr {
	margin-top: 0;
}

/* IE fix for jquery resizecrop */
img { -ms-interpolation-mode: bicubic; }

/* init loader
-------------------------------------------------- */
#init-blanket {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:2000;
	display:block;
    background-color: #FFF;
	color:#222;
}

#init-blanket .well {
	margin-top:15%;
}
/* Global Alert Bar
-------------------------------------------------- */
.alert-fixed-top {
	position:absolute;
	width: 100%;
	top:40px;
	z-index: 1025;
}

.alert-no-close .alert {
	padding: 8px 14px;
}
/* appCache Loader */
.appCache td {
	white-space: nowrap;
	padding: 0 5px;
}
.appCache .auto-span {
	width: 100%;
	vertical-align: middle;
}
.appCache .progress {
	margin-bottom: 0;
}



/* Nav Bar Hover
-------------------------------------------------- */

/*@media (min-width: 768px) {*/
	ul.nav li.dropdown:hover ul.dropdown-menu {
	    display: block;
	}
/*}*/

/* Nav Slider
-------------------------------------------------- */
body {
	overflow: hidden;
}
.page {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
@media (max-width:767px) {
	/* bootstrap override */
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: absolute; /* override fixed */
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0;
		margin-right: 0;
	}

	.navbar .container {
		width: auto;
	}
	/* end bootstrap override */
	
	.page {
		border-left: solid 1px #DDD;
	}
	
	.nav-slider {
		width: 200px;
		height: 100%;
		overflow-y: scroll;
		overflow-x: visible;
		top: 0;
		background-color: #FFF;
	}
	
	.nav-slider .nav-tabs li a {
		border-left-width:0;
		border-right-width:0;
	}
	
	.nav-slider .nav-tabs.nav-stacked > li > a {
		border-radius:0;
	}
	
	.page, .nav-slider, .nav-slider-button {
		position: absolute;
		/*box-shadow: inset -3px -3px 3px #000;*/
		/*-moz-box-shadow:    0 0 15px  #000;
		-webkit-box-shadow: 0 0 15px  #000;
		box-shadow:     	0 0 15px  #000;*/
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: 	all 0.3s ease-in-out;
		-o-transition: 		all 0.3s ease-in-out;
		-ms-transition: 	all 0.3s ease-in-out;
		transition: 		all 0.3s ease-in-out;
	}
	
	.nav-slider-button {
		margin: 5px 6px; /* 6 = 5 + 1 for border */
		z-index: 1040;
	}
	
	.nav-slider-open, .page-slider-closed {
		position: absolute;
		top:0;
		left:0;
	}
	
	.nav-slider-closed {
		left:-200px; /* width  */
	}
	
	.page-slider-open {
		left:200px; /* width */
	}

}

/* Footer - Sticky
-------------------------------------------------- */
/* Allows for fixed nav header */
/*@media(min-width:980px) {*/
.wrapper > .container {
	padding-top:60px;
}
/*}*/

html, body { height: 100%; }
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -66px; /* neg .footer-push.height */
}


.footer-push {
	height:66px; /* height of .footer + padding-top + padding-bottom + margin-top + margin-bottom */
}
.footer {
  padding: 10px 0 10px;
  margin: 25px 0 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
