<div class="container">
	<script>/*
	<div class="row">
		<div class="span4">
			<h3>{{i18n.footer_col1_h3}}</h3>
			<p>{{i18n.footer_col1_text}}</p>
			<!--<p>Stay in touch on social networks</p>
			<a href="#" title="{{i18n.footer_facebook_title}}Follow us on Facebook" class="icon-facebook"></a>
			<a href="#" title="{{i18n.footer_twitter_title}}Follow us on Twitter" class="icon-twitter"></a>
			<a href="#" title="{{i18n.footer_google_title}}Follow us on Google Plus" class="icon-google-plus"></a>
			<a href="#" title="{{i18n.footer_github_title}}Follow us on Github" class="icon-github"></a>-->
			
		</div>
		<div class="span4">
			<h3>{{i18n.footer_col2_h3}}</h3>
			<ul>
				<li><a href="#/support/tos" title="{{i18n.footer_tos_title}}">{{i18n.footer_tos_value}}</a></li>
				<li><a href="#/support/privacy" title="{{i18n.footer_privacy_title}}">{{i18n.footer_privacy_value}}</a></li>
				<li><a href="#/support/security" title="{{i18n.footer_security_title}}">{{i18n.footer_security_value}}</a></li>
				<li><a href="#/support/contact" title="{{i18n.footer_contact_title}}">{{i18n.footer_contact_value}}</a></li>
			</ul>
		</div>
		<div class="span4">
			<!--<a href="#" title="{{i18n.footer_facebook_title}}Follow us on Facebook" class="btn icon-facebook icon-2x"></a>
			<a href="#" title="{{i18n.footer_twitter_title}}Follow us on Twitter" class="btn icon-twitter icon-2x"></a>
			<a href="#" title="{{i18n.footer_google_title}}Follow us on Google Plus" class="btn icon-google-plus icon-2x"></a>
			<a href="#" title="{{i18n.footer_github_title}}Follow us on Github" class="btn icon-github icon-2x"></a>-->
		</div>
	</div> <!-- /row -->
	*/
	</script>
	<div class="row">
		<div class="span4">
			<p>Built By <a href="http://farrelllabs.com" target="_blank">Farrell Labs</a>&nbsp;and&nbsp;<a href="https://twitter.com/#/willfarrell" target="_blank">@willfarrell</a></p>
		</div>
		<div class="span4 center">
			<p>v{{version}} &copy; 2012 {{i18n.title}}</p>
		</div>
		<div class="span4 right">
			<p><a href="" data-ng-click="backToTop()">Back to top</a></p>
		</div>
	</div> <!-- end .row -->
</div>
