<div class="container">
	<div class="row">
		<div class="span4">
			<p>Built By <a href="http://farrelllabs.com" target="_blank">Farrell Labs</a>&nbsp;and&nbsp;<a href="https://twitter.com/#/willfarrell" target="_blank">@willfarrell</a></p>
		</div>
		<div class="span4 center">
			<p>v{{version}} &copy; 2012 {{i18n.title}}</p>
		</div>
		<div class="span4 right">
			<p><a href="" onclick="document.getElementsByClassName('page')[0].scrollTop = 0">Back to top</a></p>
		</div>
	</div> <!-- end .row -->
</div>
