<div class="navbar navbar-fixed-top" data-ng-hide="session.user_ID">
	<div class="navbar-inner">
        <div class="container">
        	<div class="pull-left">
        		<!-- sliding nav, space holder -->
        		<div class="btn-group visible-phone">
	        		<button class="btn"><i class="icon-list-ul"></i></button>
	        	</div>
	        	<!-- page controllers -->
        		<div class="btn-group hidden-phone" data-ng-show="device">
        		
					<button class="btn" data-ng-click="history.back()" data-ng-disabled="history.length <= 2"><i class="icon-arrow-left"></i></button>
					
					<button class="btn" data-ng-click="refresh()"><i class="icon-refresh"></i></button>
				</div>
        	</div>
			<a class="brand" href="#">&nbsp;&nbsp;{{i18n.title}} <i class="icon-spinner icon-spin" data-ng-show="loading"></i></a>
			<div class="btn-group pull-right">
				<a class="btn" href="#/sign/in"><i class="icon-signin"></i>&nbsp;Sign In</a>
			</div>
        </div>
	</div>
</div>
<div class="navbar navbar-fixed-top" data-ng-show="session.user_ID">
	<div class="navbar-inner">
        <div class="container">
        	<div class="pull-left">
        		<!-- sliding nav, space holder -->
	        	<div class="btn-group visible-phone">
	        		<button class="btn"><i class="icon-list-ul"></i></button>
	        	</div>
	        	<!-- page controllers -->
        		<div class="btn-group hidden-phone" data-ng-show="device">
					<button class="btn" data-ng-click="history.back()" data-ng-disabled="history.length <= 2"><i class="icon-arrow-left"></i></button>
					<button class="btn" data-ng-click="refresh()"><i class="icon-refresh"></i></button>
					<a class="btn" href="#/{{settings.dashboard}}" data-ng-class="{active: selectedNav=='app'}" data-ng-click="selectedNav = 'app'"><i class="icon-dashboard"></i></a>
				</div>
        	</div>
			<a class="brand" href="#">&nbsp;&nbsp;{{i18n.title}} <i class="icon-spinner icon-spin" data-ng-show="loading"></i></a>
			<ul class="nav pull-right hidden-phone">
				<!--<li class="" id="loading" ><a href="#" rel="tooltip" title="first tooltip">( Loading... )</a></li>-->
			    <!--<li><a href="#/app"><i class="icon-home"></i></a></li>-->
			    
			    <li class="dropdown" data-ng-class="{active: selectedNav=='user'}">
			        <a href="#" class="dropdown-toggle" data-ng-show="session.user.user_name" data-toggle="dropdown">{{session.user.user_name}} <b class="caret"></b></a>
			        <a href="#" class="dropdown-toggle" data-ng-show="!session.user.user_name && session.user.user_name_first" data-toggle="dropdown">{{session.user.user_name_first}} <b class="caret"></b></a>
			        <a href="#" class="dropdown-toggle" data-ng-hide="session.user.user_name || session.user.user_name_first" data-toggle="dropdown">{{session.user.user_email}} <b class="caret"></b></a>
			        <ul class="dropdown-menu" data-ng-click="selectedNav = 'user'">
			        	<li><a href="#/user/message"><i class="icon-envelope"></i>&nbsp;Messages<!--<span class="badge badge-inverse pull-right">10</span>--></a></li>
			        	
			        	<li><a href="#/user/profile"><i class="icon-user"></i>&nbsp;Profile</a></li>
			        	<!--<li><a href="#/user/follow"><i class="icon-group"></i>&nbsp;Follow</a></li>-->
			        	<li><a href="#/user/invite"><i class="icon-share"></i>&nbsp;Invite</a></li>
			        	<li><a href="#/settings/profile"><i class="icon-cogs"></i>&nbsp;Edit Profile</a></li>
			        </ul>
			    </li>
			    <li class="divider-vertical"></li>
			    <li class="dropdown" data-ng-class="{active: selectedNav=='account'}">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
			        <ul class="dropdown-menu" data-ng-click="selectedNav = 'account'">
			        	<li><a href="#/company/profile"><i class="icon-user"></i>&nbsp;Company Profile</a></li>
			            <!--<li><a href="#/billing"><i class="icon-credit-card"></i>&nbsp;Billing</a></li>-->
			            <!--<li><a href="#/api/">API</a></li>-->
			            <!--<li><a href="#/setings/user">
			            	<img data-ng-src="img/user/{{session.user_ID}}.png?{{filepicker.timestamp}}" class="img-rounded" style="width:40px; height:40px;"/><span>&nbsp;{{session.user.user_name_first}} {{session.user.user_name_last}}<br>Edit Profile</span>
			            </a></li>-->
			            
			            <li class="divider"></li>
			            <li><a href="#/support/faq"><i class="icon-bullhorn"></i>&nbsp;Help</a></li>
			            <li class="divider"></li>
			            <li><a href="#/settings/account"><i class="icon-cogs"></i>&nbsp;Settings</a></li>
			            <li><a href="#/sign/out"><i class="icon-signout"></i>&nbsp;Sign Out</a></li>
			            <!--<li><a href="#/help/faq"><i class="icon-question-sign"></i>&nbsp;Help</a></li>-->
			        </ul>
			    </li>
			</ul>
        </div><!-- /container -->
	</div>
</div>
