<div class="container">
    <div class="row">
      	<div class="span1"></div>
      	<div class="span3">
	        <ul class="nav nav-tabs nav-stacked">
	        	<li><a href="#/user/profile">
		        	<img data-ng-src="img/user/{{session.user_ID}}.png?{{filepicker.timestamp}}" class="img-rounded" width="50" height="50"/>
		        	<span> {{session.user.user_name_first}} {{session.user.user_name_last}}</span>
	        	</a></li>
	        </ul>
	        <ul class="nav nav-tabs nav-stacked">
	          	<li><a href="#/settings/account">Account</a></li>
	          	<li><a href="#/settings/password">Password</a></li>
	          	<!--<li><a href=""><i class="icon-chevron-right"></i> Mobile</a></li>-->
	          	<li><a href="#/settings/notifications">Notifications</a></li>
	          	<li><a href="#/settings/profile">Profile</a></li>
	          	<li><a href="#/settings/security">Security</a></li>
	        </ul>
	        <!--<ul class="nav nav-tabs nav-stacked">
	        	<li><a href="#/user/profile">
		        	<img data-ng-src="img/company/{{session.company_ID}}.png?{{filepicker.timestamp}}" class="" style="width:100px; height:50px;"/>
		        	<span>{{session.company.company_name}}</span>
	        	</a></li>
	        </ul>-->
	        <ul class="nav nav-tabs nav-stacked" data-ui-if="settings.account.company && session.user_level >= 5">
	          	<li><a href="#/settings/company">Company</a></li>
	          	<li><a href="#/settings/users">Users</a></li>
	          	<li><a href="#/settings/locations">Locations</a></li>
	        </ul>
	        
	        <ul class="nav nav-tabs nav-stacked" data-ui-if="session.user_level >= 5">
	          	<li><a href="#/settings/billing">Billing</a></li>
	        </ul>
        </div>
      	<div class="span7 well-white">
	    	<div data-ng-include src="page_url"></div>
	    </div>
      	<div class="span1"></div>
	</div>
</div>
