<div class="container" data-ng-controller="SupportCtrl">
    <div class="row">
      	<div class="span1"></div>
      	<div class="span3">
	        <ul class="nav nav-tabs nav-stacked">
	          	<!--<li><a href="#/support/faq">FAQ</a></li>
	          	<li><a href="#/support/tour">Tour</a></li>-->
	          	<li><a href="#/support/contact">Contact</a></li>
	        </ul>
	        <ul class="nav nav-tabs nav-stacked">
	          	<li><a href="#/support/tos">Terms of Service</a></li>
				<li><a href="#/support/privacy">Privacy Policy</a></li>
				<li><a href="#/support/security">Security Policy</a></li>
	        </ul>
        </div>
      	<div class="span7 well-white">
	    	<div data-ng-include src="page_url"></div>
	    </div>
      	<div class="span1"></div>
	</div>
</div>
