<div data-ng-controller="UserCtrl">
<div class="row-fluid">

	<div class="span1">&nbsp;</div>
	<div class="span4">
	 	<form name="userForm" class="form-vertical">
	    	<legend>User Information<button class="btn btn-primary pull-right" data-ng-click="updateUser()" data-ng-disabled="userForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	    	<div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts.user">
			  	<button class="close" data-dismiss="alert">&times;</button>
			  	<strong>{{alert.label}}</strong> {{alert.message}}
			</div>

	    	<!--<div class="control-group center">
	    		<label class="control-label" for="user_img">
	    			<button class="btn btn-success" data-ng-click="filepicker.open(filepicker.profile_user);"><i class="icon-upload-alt"></i>&nbsp;Upload</button>
	    		</label>

				<div class="controls">
		    		<img data-ng-src="img/user/{{session.user_ID}}.png?{{filepicker.timestamp}}" class="img-polaroid" style="width:100px; height:100px;"/>
		    	</div>
		    </div>-->
		    
		    <div class="control-group">
	    		<label class="control-label pull-right" for="user_img">
	    			
	    		</label>

				<div class="controls">
		    		<img data-ng-src="img/user/{{session.user_ID}}.png?{{filepicker.timestamp}}" class="img-polaroid" style="width:100px; height:100px;"/>
	    			<button class="btn" data-ng-click="filepicker.open(filepicker.profile_user);">Change photo</button>
	    			<!--<span class="help-block">This photo is your identity and appears with your content.</span>-->
		    	</div>
		    </div>

	    	<!--<div class="control-group" data-ng-class="{error: (errors.user.user_name)}">
	          	<label class="control-label" for="user_name">Username</label>
	          	<div class="controls">
		            <input type="text" class="span" name="user_name" placeholder="required" data-ng-model="user.user_name" data-ng-minlength="3" data-ng-maxlength="14" data-ng-pattern="/^\w*$/" data-ng-change="check.user_name(user.user_name)" required>
		            <span class="help-block error" data-ng-show="userForm.user_name.$error.pattern">only alphanumeric characters and underscores allowed</span>
		            <span class="help-block error" data-ng-show="userForm.user_name.$error.minlength">too short</span>
		            <span class="help-block error" data-ng-show="userForm.user_name.$error.maxlength">too long</span>
		            <span class="help-block error" data-ng-show="errors.user.user_name">{{errors.user.user_name.message}}</span>
	            </div>
	        </div>-->
	        
	        <div class="control-group" data-ng-class="{error: (errors.user_name_first)}">
	          	<label class="control-label" for="user_name_first">First Name</label>
	          	<div class="controls">
		            <input type="text" class="span" name="user_name_first" placeholder="required" data-ng-model="user.user_name_first" required>
		            <!--<span class="help-block error" data-ng-show="userForm.user_name_first.$error.required">Required</span>-->
		            <span class="help-block error" data-ng-show="errors.user.user_name_first">{{errors.user.user_name_first.message}}</span>
	            </div>
	        </div>

	        <div class="control-group" data-ng-class="{error: (errors.user.user_name_last)}">
	          	<label class="control-label" for="user_name_last">Last Name</label>
	          	<div class="controls">
		            <input type="text" class="span" name="user_name_last" placeholder="optional" data-ng-model="user.user_name_last"/>
		            <!--<span class="help-block error" data-ng-show="userForm.user_name_last.$error.required">Required</span>-->
		            <span class="help-block error" data-ng-show="errors.user.user_name_last">{{errors.user.user_name_last.message}}</span>
	            </div>
	        </div>
	        
	        <div class="control-group" data-ng-class="{error: (errors.user.user_email)}">
	          	<label class="control-label" for="user_email">Email</label>
	          	<div class="controls">
		          	<input type="email" class="span" name="user_email" data-ng-model="user.user_email" disabled required/>
			        <span class="help-block error" data-ng-show="userForm.user_email.$error.required">Required</span>
		            <span class="help-block error" data-ng-show="userForm.user_email.$error.email">Not valid email.</span>
		            <!--<div class="input-append">
			            <button class="btn"><i class="icon-remove" if="false == validate.email(user.user_email)"></i><i class="icon-ok" if="true == validate.email(user.user_email)"></i></button>
			        </div>-->
			        <span class="help-block error" data-ng-show="errors.user.user_email">{{errors.user.user_email.message}}</span>

		        </div>
	        </div>
	        
	        <div class="control-group" data-ng-class="{error: (errors.user_phone)}">
	          	<label class="control-label" for="user_phone">Phone</label>
	          	<div class="controls">
		          	<div class="input-prepend">
		                <span class="add-on">+{{json.calling_codes[country_code]}}</span><input type="text" class="" name="user_phone" placeholder="(000) 000-0000" data-ng-model="user.user_phone" data-input-mask="(999) 999-9999 x999999">
		            </div>
		            <span class="help-block error" data-ng-show="errors.user_phone">{{errors.user_phone.message}}</span>
	            </div>
	        </div>
	        
	        <!--<div class="control-group" data-ng-class="{error: (errors.user_url)}">
	          	<label class="control-label" for="user_url">Website</label>
	          	<div class="controls">
		            <input type="url" class="span" name="user_url" data-ng-model="user.user_url" placeholder="https://">
		            <span class="help-block error" data-ng-show="userForm.user_url.$error.url">Not valid url</span>
		            <span class="help-block error" data-ng-show="errors.user_url">{{errors.user_url.message}}</span>
	            </div>
	        </div>-->
	        
	        <div class="control-group">
		        <label class="control-label" for="user_details">Bio</label>
			    <textarea class="span" rows="4" data-ng-model="user.user_details" placeholder=""></textarea>
				<span class="help-block pull-right">{{160 - user.user_details.length}}</span>
				<span class="help-block">About yourself in 160 characters or less.</span>
			</div>
		</form>

		<br>
		<button class="btn btn-danger btn-block" data-ng-click="deleteUser()" data-ng-hide="true">Delete Account</button>

	 </div>
	<div class="span2">&nbsp;</div>
	<div class="span4">
		<form name="changePasswordForm" class="form-vertical" data-ng-controller="PasswordCtrl">
			<legend>Change Password<button class="btn btn-primary pull-right" data-ng-click="updatePassword()" data-ng-disabled="changePasswordForm.$invalid || changePasswordForm.new_password.$invalid"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	        <div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts.password">
			  	<button class="close" data-dismiss="alert">&times;</button>
			  	<strong>{{alert.label}}</strong> {{alert.message}}
			</div>

	        <div class="control-group" data-ng-class="{error: (errors.password.old_password)}">
	          	<!--<label class="control-label" for="password.old_password">Old Password</label>-->
	          	<div class="controls">
	          		<input type="password" name="old_password" class="span" placeholder="Old Password" data-ng-model="password.old_password" required/>
	          		<!--<span class="help-block error" data-ng-show="changePasswordForm.old_password.$error.required">Old Password is required</span>-->
	          		<span class="help-block error" data-ng-show="errors.password.old_password">{{errors.password.old_password.message}}</span>
	          	</div>
	        </div>

	        <div class="control-group" data-ng-class="{error: (errors.password.new_assword)}">
	        	<!--<label class="control-label" for="password.new_password">New Password</label>-->
		        <div class="controls">
		        	<input type="password" name="password" class="span" placeholder="New Password" data-ng-model="password.new_password" data-ng-change="validate.password(changePasswordForm.password, password.new_password, password.old_password, settings.password)" required/>
			        <!--<span class="help-block error" data-ng-show="changePasswordForm.password.$error.required">New Password is required</span>-->
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.minlength">Password too short, must be {{settings.password.min_length}} or more</span>
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.lower">Password needs at least one lower case letter</span>
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.upper">Password needs at least one upper case letter</span>
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.number">Password needs at least one number</span>
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.special">Password needs an special character (!"£$%&...)</span>
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.identical">Password cannot have more than two identical characters</span>
			        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.sameas">Password cannot be that same as your old password</span>
			        <span class="help-block error" data-ng-show="errors.password.new_password">{{errors.password.new_password.message}}</span>
		        </div>
	        </div>
	    </form>

	    <form name="userEmailForm" class="form-vertical">
		    <legend>Change Email<button class="btn btn-primary pull-right" data-ng-click="updateEmail()" data-ng-disabled="userEmailForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	    	<div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts.email">
			 	<button class="close" data-dismiss="alert">&times;</button>
			  	<strong>{{alert.label}}</strong> {{alert.message}}
			</div>

	        <div class="control-group" data-ng-class="{error: (errors.email.user_email)}">
	          	<!--<label class="control-label" for="user_function">Email</label>-->
	          	<div class="controls">
	          		<input type="email" class="span" name="user_email" placeholder="New Email" data-ng-model="email.user_email" required/>
		        	<!--<span class="help-block error" data-ng-show="userEmailForm.user_email.$error.required">Required</span>-->
		        	<span class="help-block error" data-ng-show="userEmailForm.user_email.$error.email">Not valid email.</span>
		        	<span class="help-block error" data-ng-show="errors.email.user_email">{{errors.email.user_email.message}}</span>
		        </div>
	        </div>

	    	<div class="control-group" data-ng-class="{error: (errors.email.password)}">
	          	<!--<label class="control-label" for="password.password">Password</label>-->
	          	<div class="controls">
	          		<input type="password" name="password" class="span" placeholder="Password" data-ng-model="email.password" required/>
	          		<!--<span class="help-block error" data-ng-show="userEmailForm.password.$error.required">Password is required</span>-->
	          		<span class="help-block error" data-ng-show="errors.email.password">{{errors.email.password.message}}</span>
	          	</div>
	        </div>

		</form>
		
		<!--
		<legend>Account Data</legend>
		<div class="btn-group">
				<button class="btn btn-primary" data-ng-click="exportData()"><i class="icon-download-alt"></i>&nbsp;Download Data</button>
				<button class="btn btn-success" data-ng-click="importData()"><i class="icon-upload-alt"></i>&nbsp;Download Data</button>

				<button class="btn btn-danger" data-ng-click="deleteData()"><i class="icon-remove"></i>&nbsp;Delete Data</button>
			
		</div>
		-->
		<!--<form name="userAccessibilityForm" class="form-vertical" data-ng-show="0">
		    <legend>Accessibility<button class="btn btn-primary pull-right" data-ng-click="updateAccessibility()" data-ng-disabled="userAccessibilityForm.$invalid"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	    	<div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts.accessibility">
			 	<button class="close" data-dismiss="alert">&times;</button>
			  	<strong>{{alert.label}}</strong> {{alert.message}}
			</div>

	        <div class="control-group">
	          	<div class="controls">
	          		<select class="input-small" data-ng-model="accessibility.text_size">
	          			<option value="-1">Default</option>
	          			<option value="20">20pt</option>
	          			<option value="24">24pt</option>
	          			<option value="32">32pt</option>
	          			<option value="40">40pt</option>
	          			<option value="48">48pt</option>
	          			<option value="58">56pt</option>
	          		</select> Text Size
		        </div>
	        </div>


		</form>-->

    </div>

</div>

<!--<div class="row-fluid">
	<div class="span1">&nbsp;</div>
	<div class="span4">
	    <legend>About Details<button class="btn btn-primary pull-right" data-ng-click="updateUser()"><i class="icon-ok"></i>&nbsp;Save</button></legend>

	    <textarea class="span" rows="15" data-ng-model="user.user_details" placeholder=""></textarea>
		<div class="help-block">Markdown Syntax Supported<br>(&nbsp;<b>**bold**</b>,&nbsp;<i>_emphasis_</i>&nbsp;)</div>
	</div>
	<div class="span2">&nbsp;</div>
	<div class="span4">
		<legend>About Preview</legend>
		<div data-ng-bind-html-unsafe="compileMarkdown(user.user_details)"></div>
		<div class="help-block" data-ng-show="user.user_details == ''">
			Enter text to the left to have a preview generated here.
		</div>
	</div>
	<div class="span1">&nbsp;</div>
</div>-->

</div>
