<div class="container" data-ng-controller="MessageCtrl">
    <div class="row">
      	<div class="span4">
      		<input data-ng-model="query" type="text" placeholder="Search" class="input-block-level">
	        <ul class="nav nav-tabs nav-stacked">
	        	<li data-ng-repeat="m in list | filter:query | orderBy:'-timestamp'" data-ng-click="loadThread(m.user.user_ID, m.user.user_name_first+' '+m.user.user_name_last)">
	        		<!-- #/user/message/{{m.user.user_ID}} -->
	        		<a href="" style="height:50px">
		        		<span class="pull-right"><i data-ng-class="{true:'icon-envelope', false:'icon-blank'}[(!m.read && session.user.user_ID == m.user_to_ID)]"></i> {{m.timestamp*1000 | date:'shortDate'}}</span>
		        		<img data-ng-src="img/user/{{m.user.user_ID}}.png?{{filepicker.timestamp}}" class="img-rounded" width="50" height="50" style="margin-right:10px" align="left"/>
		        		<b class="">{{m.user.user_name_first}} {{m.user.user_name_last}} </b><br>
		        		<span>{{m.message | truncate:20}}</span>
		        	</a>
	        	</li>
	        	<li data-ng-hide="list.length">
	        		<a>No past messages.</a>
	        	</li>
	        </ul>
        </div>
      	<div class="span7 well-white">
      		<form name="messageForm" data-ng-show="thread.length">
	      		<fieldset><legend>{{message.to_name}}</legend></fieldset>
	    		<hr>
	    		<ul id="thread" class="unstyled control-group" style="height:400px; overflow-y:scroll;">
	    			<li data-ng-repeat="m in thread | orderBy:'timestamp'" class="well">
		    			<p class="pull-right">{{m.timestamp*1000 | date:'MMM d, hh:mm a'}}</p>
		    			<img data-ng-src="img/user/{{m.user_from_ID}}.png?{{filepicker.timestamp}}" class="img-rounded inline" width="25" height="25" style="margin-right:5px" align="left"/>
		    			<a href="#/user/profile/{{m.user_from_ID}}">
		    				<b data-ng-hide="m.user_from_ID == session.user.user_ID">{{message.to_name}}</b>
		    				<b data-ng-show="m.user_from_ID == session.user.user_ID">{{session.user.user_name_first}} {{session.user.user_name_last}}</b>
		    			</a><br>
		    			<p>{{m.message}}</p>
	    			</li>
	    		</ul>
	    		
	    		<hr>
	    		<div class="control-group">
			      	<div class="controls">
				      	<textarea name="message" class="input-block-level" data-ng-model="message.compose.message" rows="6" data-ng-minlength="1" required></textarea>
			      	</div>
	    		</div>
				<div class="control-group pull-right">
			      	<div class="controls">
				      	<button class="btn btn-primary" data-ng-click="send()" data-ng-disabled="messageForm.$invalid">Send</button>
			      	</div>
				</div>
      		</form>
      		<div data-ng-hide="thread.length">
      			<br><p class="center">No conversation selected.</p>
      		</div>
	    </div>
	</div>
</div>
