<div class="" data-ng-controller="DashboardCtrl" data-ng-init="loadSearch()">
	<form class="form-search">
		<input data-ng-model="search.query" type="text" class="input-medium" placeholder="Search directory" data-ng-change="loadSearch()">
		<!--<div class="btn-group">
		  <button class="btn">{{search.type[0].toUpperCase() + search.type.slice(1)}}</button>
		  <button class="btn dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="" data-ng-click="search.type = 'company'; loadSearch()">Company</a></li>
		    <li><a href="" data-ng-click="search.type = 'user'; loadSearch()">User</a></li>
		  </ul>
		</div>-->
	</form>
	
	<!--<form class="form-search">
		<input data-ng-model="search.query" type="text" class="input-medium search-query inline" placeholder="Search directory" data-ng-change="loadSearch()">
		
		<label class="radio inline">
			<input type="radio" data-ng-model="search.type" value="company" data-ng-change="loadSearch()">Company
		</label>
		<label class="radio inline">
			<input type="radio" data-ng-model="search.type" value="user" data-ng-change="loadSearch()">User
		</label>
	</form>-->
	<br>
	<table class="table table-striped">
		<tbody>
		<tr class="ng-click" data-ng-repeat="r in results" data-ng-show="search.type == 'user'">
			<td>
				<img data-ng-src="img/user/{{r.user_ID}}.png" class="img-polaroid" width="50" height="50" align="left" style="margin-right:10px">
				<p><a href="#/user/profile/{{r.user_ID}}"><b>{{r.user_name_first}} {{r.user_name_last}}</b></a></p>
	            <p data-ng-show="r.user_function">{{r.user_function}}</p>
	            <div class="btn-group" data-ng-hide="session.user.user_ID == r.user_ID">
	            	<a href="#messageModal" class="btn" data-ng-click="message.open(r.user_ID, r.user_name_first+' '+r.user_name_last)" data-toggle="modal"><i class="icon-envelope"></i></a>
	            	<!--<a class="btn" rel="tooltip" title="+{{json.calling_codes[company.location.country_code]}} {{r.user_phone | phone}}" href="tel:+{{json.calling_codes[company.location.country_code]}} {{r.user_phone}}" data-ng-disabled="!(r.user_phone)"><i class="icon-phone"></i></a>-->
	            </div>
			</td>
		</tr>
		<tr class="ng-click" data-ng-repeat="r in results" data-ng-show="search.type == 'company'">
			<td>
				<img data-ng-src="img/company/{{r.company_ID}}.png" class="img-polaroid" width="75" height="50" align="left" style="margin-right:10px">
				<p><a href="#/company/profile/{{r.company_ID}}"><b>{{r.company_name}}</b></a></p>
				<p data-ng-show="r.company_url"><i class="icon-link"></i> <a data-ng-href="{{r.company_url}}" target="_blank">{{r.company_url}}</a></p>
				<!--<p data-ng-show="r.company_phone"><i class="icon-phone"></i> <a href="tel:+{{json.calling_codes[location.country_code]}} {{r.company_phone}}">+{{json.calling_codes[location.country_code]}} {{company.company_phone | phone}}</a></p>-->
			</td>
		</tr>
		</tbody>
	</table>
</div>
