<div data-ng-controller="CompanyCtrl">
<h2>{{company.company_name}}</h2>

<div class="row-fluid">
    <div class="span4">
    	<!-- logo -->
    	<p><img data-ng-src="/img/company/{{company.company_ID}}.png" style="width:300px; height:200px;" /></p>
        <p data-ng-show="company.company_url"><i class="icon-link"></i>&nbsp;<a href="" data-ng-click="href(company.company_url, true)">{{company.company_url}}</a></p>
        <p data-ng-show="company.company_phone"><i class="icon-phone"></i>&nbsp;<a href="tel:+{{json.calling_codes[location.country_code]}} {{company.company_phone}}">+{{json.calling_codes[location.country_code]}} {{company.company_phone | phone}}</a></p>
        <!--<a href="" onclick="openURL({{company.company_url}})"><i class="icon-linkedin"></i>&nbsp;LinkenIn</a>
        <a href="" onclick="openURL({{company.company_url}})"><i class="icon-facebook"></i>&nbsp;Facebook</a>
        <a href="" onclick="openURL({{company.company_url}})"><i class="icon-twitter"></i>&nbsp;Twitter</a>
        <a href="" onclick="openURL({{company.company_url}})"><i class="icon-google-plus"></i>&nbsp;Google+</a>-->
        
        <br>
        
        <!-- user -->
        <legend><i class="icon-user"></i>&nbsp;Primary Contact</legend>
        <div class="row-fluid">
	        <div class="span5">
	            <img data-ng-src="img/user/{{company.user.user_ID}}.png?{{filepicker.timestamp}}" class="img-polaroid" style="width:100px; height:100px;" />
	        </div>
	        <div class="span1"></div>
	        <div class="span6">
	            <h4>{{company.user.user_name_first}} {{company.user.user_name_last}}</h4>
	            <p data-ng-show="company.user.user_function">{{company.user.user_function}}</p>
	            <div class="btn-group">
	            	<button class="btn" data-ng-click="message.open(company.user.user_ID, company.user.user_name_first+' '+company.user.user_name_last)"><i class="icon-envelope"></i></button>
	            	<a class="btn" rel="tooltip" title="+{{json.calling_codes[company.location.country_code]}} {{company.user.user_phone | phone}}" href="tel:+{{json.calling_codes[company.location.country_code]}} {{company.user.user_phone}}" data-ng-disabled="company.user.user_phone == ''"><i class="icon-phone"></i></a>
	            </div>
	            
	        </div>
        </div>
        
        <br>
        
        <!-- location -->
        <legend data-ng-show="company.location"><i class="icon-map-marker"></i>&nbsp;Primary Location</legend>
        <div class="row-fluid" data-ng-show="company.location">
	        <div class="span5">
	            <!--<img src="http://placehold.it/100x100" width="100" height="100" />-->
	            <!--<img data-ng-src="https://maps.google.com/maps/api/staticmap?center={{company.location.latitude}},{{company.location.longitude}}&zoom=14&size=100x100&maptype=terain&markers=color:red%7Clabel:{{company.company_name}}&sensor=false" class="img-polaroid">-->
	            <img data-ng-src="https://maps.google.com/maps/api/staticmap?zoom=14&size=100x100&maptype=terain&markers=color:red|{{company.location.address_1}},{{company.location.city}},{{company.location.region_code}},{{company.location.country_code}},{{company.location.mail_code}}&sensor=false" class="img-polaroid">
	        </div>
	        <div class="span1"></div>
	        <div class="span6">
	            <h4>{{company.location.location_name}}</h4>
	            <span>{{company.location.address_1}}</span><br>
	            <span data-ng-show="company.location.address_2">{{company.location.address_2}}<br></span>
	            <span>{{company.location.city}}, {{company.location.region_code}}, {{company.location.country_code}}</span><br>
	            <span>{{company.location.mail_code}}</span><br>
	            <span data-ng-show="company.location.location_phone"><i class="icon-phone"></i>&nbsp;+{{json.calling_codes[company.location.country_code]}} {{company.location.location_phone | phone}}<br></span>
	            <!--<p>{{company.location.latitude}},{{company.location.longitude}}</p>-->
	        </div>
        </div>

        <!-- More (stats) -->
        <!--<legend><i class="icon-info-sign"></i>&nbsp;About</legend>
        <table class="table"><tbody>
        	<tr><th>Type</th><td>{{select.company_types[company.company_type]}}</td></tr>
        	<tr><th>Categories</th><td><span  data-ng-repeat="category in company.categories">{{select.categories[category].name}},<br></span></td></tr>
        </tbody></table>-->

        <!-- share -->
        <!--<h3><i class="icon-share"></i>&nbsp;Social</h3>
        <table class="table"><tbody><tr><td>
        	<script type="text/javascript" src="https://platform.linkedin.com/in.js"></script><script type="in/share" data-url="http://rfqs.ca/index.php" data-counter="top"></script>
            </td><td>
        	<iframe
src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Frfqs.ca%2Findex.php&amp;layout=box_count&amp;show_faces=true&amp;width=50&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:65px;" allowTransparency="true"></iframe>
			</td><td>
			<a
href="https://twitter.com/share" class="twitter-share-button" data-url="http://rfqs.ca/index.php" data-count="vertical" data-via="rfqs">Tweet</a>
			<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
        </td></tr></tbody></table>-->
    </div>

    <div class="span8">
    	<tabs>
    		<pane title="About">
    			<div ng-bind-html-unsafe="compileMarkdown(company.company_details)"></div>
    		</pane>
    		
    		<pane title="Team">
    			<table class="table table-striped">
					<!--<thead><tr><th colspan="2"></th></tr></thead>-->
					<tbody>
					<tr class="ng-click" data-ng-repeat="u in users | orderBy:'-user_level'">
						<td>
							<img data-ng-src="img/user/{{u.user_ID}}.png?{{filepicker.timestamp}}" class="img-rounded" width="100" height="100">
						</td>
						<td>
							<div class="btn-group pull-right">
				            	<button class="btn" data-ng-click="message.open(u.user_ID, u.user_name_first+' '+u.user_name_last)"><i class="icon-envelope"></i></button>
				            	<a class="btn" rel="tooltip" title="+{{json.calling_codes[company.location.country_code]}} {{u.user_phone | phone}}" href="tel:+{{json.calling_codes[company.location.country_code]}} {{u.user_phone}}" data-ng-disabled="u.user_phone == ''"><i class="icon-phone"></i></a>
				            </div>
							<b>{{u.user_name_first}} {{u.user_name_last}}</b><br>
							<p>{{u.user_function}}</p>
				            <div ng-bind-html-unsafe="compileMarkdown(u.user_details)"></div>
						</td>
					</tr>
					</tbody>
				</table>
    			
    		</pane>
    		
    		<!--<pane title="Locations">
		      	<p>Interactive map - Future</p>
		      	<img data-ng-src="https://maps.google.com/maps/api/staticmap?center={{company.location.latitude}},{{company.location.longitude}}&zoom=14&size=360x360&maptype=terain&markers=color:red%7C{{company.company_name}}&sensor=false" class="img-polaroid pull-center"/>
		    </pane>-->
    	</tabs>
	</div>
</div>

</div>