<form name="form" class="form-horizontal" data-ng-controller="BillingCtrl">
	<fieldset><legend>Billing</legend></fieldset>
	
	
	
	<hr>
	
	<div class="control-group">
		<label class="control-label" for="plan">Choose Plan</label>
		<div class="controls">
			<select type="text" id="plan" name="plan" data-ng-model="plan.id" required>
				<option value="free">$0/m Free</option>
				<option value="beta">$250 Beta (for one year)</option>
			</select>
		</div>
	</div>
	{{plan}}
	<!--<div class="control-group">
		<label class="control-label">Plan Add-ons</label>
		<div class="controls">
			<input type="text" name="card-number" class="input-mini"  data-ng-model="plan.users" required> Additional Users
		</div>
		<br>
		<div class="controls">
			
		</div>
	</div>-->
	
	
	<div data-ng-hide="plan.id = 'free'">
	
	<div class="alert-white alert-danger" data-ng-show="errors.length">
		<strong>Error:</strong> {{errors.stripe}}
	</div>
	<hr>
	
	<div class="control-group">
		<label class="control-label" for="card-number">Card Number</label>
		<div class="controls">
			<input type="text" id="card-number" name="card-number" class="input-large" placeholder="XXXX XXXX XXXX XXXX" data-input-mask="9999 9999 9999 9999" data-ng-model="stripe['number']" required>
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="cvc">CVC Number</label>
		<div class="controls">
			<input type="text" id="card-cvc" name="card-cvc" class="input-mini" placeholder="NNN" data-ng-model="stripe['cvc']" required>
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="exp">Expiration Date (mm/yyyy)</label>
		<div class="controls">
			<input type="text" id="exp" class="input-mini" placeholder="MM" data-ng-model="stripe['exp-month']" required> / <input type="text" class="input-mini" placeholder="YYYY" data-ng-model="stripe['exp-year']" required>
		</div>
	</div>
	</div>
	<hr>

	<div class="control-group">
		<div class="controls">
			<button class="btn" data-ng-click="saveCC()" data-ng-disabled="form.$invalid">Save</button><!--  data-require-change="{{stripe}}" -->
		</div>
	</div>
</form>
<!--
<form name="form" class="form-horizontal" data-ng-controller="StripeCtrl">
	<fieldset><legend>Billing</legend></fieldset>
	<hr>

	<div class="control-group">
		<label class="control-label" for="input01">Client # or Case Name </label>
		<div class="controls">
		<input type="text" id="client-number" name="client-number" class="input-xlarge" placeholder="Which account is this payment for">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="input02">Amount of payment</label>
		<div class="controls">
		<div class="input-prepend">
		 <span class="add-on">$</span>
		 <input type="text" id="card-amount" name="card-amount" class="input-small">
					</div>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="input03">Full Name on Card</label>
		<div class="controls">
		 <input type="text" id="card-name" name="card-name" class="input-xlarge">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input04">Card Number</label>
		<div class="controls">
		 <input type="text" id="card-number" name="card-number" class="input-medium" placeholder="Numbers only, no dashes needed">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input05">CVC Number</label>
		<div class="controls">
		 <input type="text" id="card-cvc" name="card-cvc" class="input-mini" placeholder="NNN">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input06">Expiration Date (mm/yyyy)</label>
		<div class="controls">
		 <input type="text" id="card-expiry-month" class="input-mini" placeholder="MM"> / <input type="text" id="card-expiry-year" name="card-expiry-year" class="input-mini" placeholder="YYYY">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input07">Billing Address</label>
		<div class="controls">
		 <input type="text" id="card-address-1" name="card-address-1" class="input-xlarge">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input08">Address Continued</label>
		<div class="controls">
		 <input type="text" id="card-address-2" name="card-address-2" class="input-xlarge">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input09">City</label>
		<div class="controls">
		 <input type="text" id="card-city" name="card-city" class="input-large">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input10">State</label>
		<div class="controls">
		 <input type="text" id="card-address-state" name="card-address-state" class="input-mini">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input11">Zip</label>
		<div class="controls">
		 <input type="text" id="card-address-zip" name="card-address-zip" class="input-small">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input12">Phone Number</label>
		<div class="controls">
		 <input type="text" id="card-phone" name="card-phone" class="input-medium">
		</div>
	</div>
	
	
	<div class="control-group">
		<label class="control-label" for="input13">Email Address</label>
		<div class="controls">
		 <input type="text" id="card-email" name="card-email" class="input-medium">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="input14">Confirm Email Address</label>
		<div class="controls">
		 <input type="text" id="card-email2" name="card-email2" class="input-medium">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" id="submit-label" for="input15">Unable to submit</label>
		<div class="controls">
					<button type="submit" id="submit-button" class="submit-button btn btn-primary" disabled>Javascript Required</button>
		</div>
	</div>

	<hr>

	<div class="control-group">
		<div class="controls">
			<button class="btn" data-ng-click="updateNotifications()" data-require-change="{{notify}}" data-ng-disabled="form.$invalid">Save changes</button>
		</div>
	</div>

</form>-->
