<form name="form" class="form-horizontal" data-ng-controller="UserCtrl">
	<fieldset><legend>Change Email</legend></fieldset>
	<hr>

	<div class="control-group" data-ng-class="{error: (errors.email.user_email)}">
	<label class="control-label" for="user_function">New Email</label>
	<div class="controls">
	<input type="email" class="input-block-level" name="user_email" placeholder="" data-ng-model="email.user_email" required/>
			<!--<span class="help-block error" data-ng-show="form.user_email.$error.required">Required</span>-->
			<span class="help-block error" data-ng-show="form.user_email.$error.email">Not valid email.</span>
			<span class="help-block error" data-ng-show="errors.user_email">{{errors.user_email}}</span>
		</div>
	</div>

	<div class="control-group" data-ng-class="{error: (errors.email.password)}">
		<label class="control-label" for="password.password">Password</label>
		<div class="controls">
			<input type="password" name="password" class="input-block-level" placeholder="" data-ng-model="email.password" required/>
			<!--<span class="help-block error" data-ng-show="form.password.$error.required">Password is required</span>-->
			<span class="help-block error" data-ng-show="errors.password">{{errors.password}}</span>
		</div>
	</div>

	<hr>
	<div class="control-group">
	<div class="controls">
		<button class="btn" data-ng-click="updateEmail()" data-ng-disabled="form.$invalid">Save change</button>
	</div>
	</div>

</form>
