
<form name="changePasswordForm" class="form-horizontal" data-ng-controller="PasswordCtrl">
	<legend>Password</legend>
	<hr>
	
    <div class="control-group" data-ng-class="{error: (errors.password.old_password)}">
      	<label class="control-label" for="password.old_password">Current Password</label>
      	<div class="controls">
      		<input type="password" name="old_password" class="span" placeholder="" data-ng-model="password.old_password" required/>
      		<!--<span class="help-block error" data-ng-show="changePasswordForm.old_password.$error.required">Old Password is required</span>-->
      		<span class="help-block error" data-ng-show="errors.old_password">{{errors.old_password}}</span>
      		<span class="help-block"><a href="" data-ng-click="resetPassword(session.user.user_email)">Forgot your password?</a></span>
      	</div>
    </div>

    <div class="control-group" data-ng-class="{error: (errors.password.new_assword)}">
    	<label class="control-label" for="password.new_password">New Password</label>
        <div class="controls">
        	<input type="password" name="password" class="span" placeholder="" data-ng-model="password.new_password" data-ng-change="validate.password(changePasswordForm.password, password.new_password, password.old_password, settings.password)" onfocus="this.type = 'text'" onblur="this.type = 'password'" required/>
        	<span class="help-block">Password will be visible while entering</span>
	        <!--<span class="help-block error" data-ng-show="changePasswordForm.password.$error.required">New Password is required</span>-->
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.minlength">Password too short, must be {{settings.password.min_length}} or more</span>
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.lower">Password needs at least one lower case letter</span>
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.upper">Password needs at least one upper case letter</span>
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.number">Password needs at least one number</span>
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.special">Password needs an special character (!"£$%&...)</span>
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.identical">Password cannot have more than two identical characters</span>
	        <span class="help-block error" data-ng-show="changePasswordForm.password.$error.sameas">Password cannot be that same as your old password</span>
	        <span class="help-block error" data-ng-show="errors.new_password">{{errors.new_password}}</span>
	        <span class="help-block" data-ng-show="objectLength(changePasswordForm.password.$error) > 1">Our intern could crack that password, best to be safe and make it stronger.</span>
        </div>
    </div>
    <hr>
    
    <div class="control-group">
      	<div class="controls">
	      	<button class="btn" data-ng-click="updatePassword()" data-ng-disabled="changePasswordForm.$invalid || changePasswordForm.new_password.$invalid">Save change</button>
      	</div>
    </div>
</form>
