<form name="form" class="form-horizontal" data-ng-controller="PasswordCtrl">
	<fieldset><legend>Password</legend></fieldset>
	
	<div class="alert-white alert-danger" data-ng-show="config.min_timestamp && session.account.password_timestamp < config.min_timestamp">
		<strong>Danger!</strong> For your protection you must that you change it to stay secure.
	</div>
	<div class="alert-white alert-danger" data-ng-show="config.max_age && session.account.password_age > config.max_age">
		<strong>Danger!</strong> Your password is too old. To ensure the safety of your data you must create a new password.<!-- {{session.account.password_age | number}} days old -->
	</div>
	
	<hr>
	
	<div class="control-group" data-ng-class="{error: (errors.old_password)}">
		<label class="control-label" for="old_password">Current Password</label>
		<div class="controls">
			<input type="password" name="old_password" class="input-block-level" placeholder="" data-ng-model="password.old_password" data-field-error="old_password" required/>
			<span class="help-block error" data-ui-if="errors.old_password">{{errors.old_password}}</span>
			<span class="help-block"><a href="" data-ng-click="resetPassword(session.user.user_email)">Forgot your password?</a></span>
		</div>
	</div>

	<div class="control-group" data-ng-class="{error: (errors.new_password)}">
		<label class="control-label" for="password">New Password</label>
		<div class="controls">
			<input type="password" name="password" class="input-block-level" placeholder="" data-ng-model="password.new_password" data-password-check data-sameas="{{password.old_password}}" data-field-error="new_password" required/>
			<!--<span class="help-block error" data-ng-show="form.password.$error.required">New Password is required</span>-->
			<span class="help-block error" data-ng-show="form.password.$error.minlength">Password too short, must be {{settings.password.min_length}} or more</span>
			<span class="help-block error" data-ng-show="form.password.$error.lower">Password needs at least one lower case letter</span>
			<span class="help-block error" data-ng-show="form.password.$error.upper">Password needs at least one upper case letter</span>
			<span class="help-block error" data-ng-show="form.password.$error.number">Password needs at least one number</span>
			<span class="help-block error" data-ng-show="form.password.$error.special">Password needs an special character (!"£$%&...)</span>
			<span class="help-block error" data-ng-show="form.password.$error.identical">Password cannot have more than two identical characters</span>
			<span class="help-block error" data-ng-show="form.password.$error.sameas">Password cannot be the same as your old password</span>
			<span class="help-block error" data-ng-show="errors.new_password">{{errors.new_password}}</span>
			<!--<span class="help-block" data-ng-show="objectLength(form.password.$error) > 1">Our intern could crack that password, best to be safe and make it stronger.</span>-->
		</div>
	</div>
	
	
	
	<hr>

	<div class="control-group">
	<div class="controls">
		<button class="btn" data-ng-click="updatePassword()" data-ng-disabled="form.$invalid || form.password.$invalid">Save change</button>
	</div>
	</div>
</form>
