<form name="userForm" class="form-horizontal" data-ng-controller="UserCtrl">
	<legend>Profile</legend>
	<hr>
    
    <div class="control-group">
		<label class="control-label" for="user_img">Photo</label>

		<div class="controls">
    		<img data-ng-src="img/user/{{session.user_ID}}.png?{{filepicker.timestamp}}" class="img-rounded" style="width:50px; height:50px;"/>
			<button class="btn" data-ng-click="filepicker.open(filepicker.profile_user);">Change photo</button>
			<!--<span class="help-block">This photo is your identity and appears with your content.</span>-->
    	</div>
    </div>

    <div class="control-group" data-ng-class="{error: (errors.user_name_first)}">
      	<label class="control-label" for="user_name_first">First Name</label>
      	<div class="controls">
            <input type="text" class="span" name="user_name_first" placeholder="" data-ng-model="user.user_name_first">
            <!--<span class="help-block error" data-ng-show="userForm.user_name_first.$error.required">Required</span>-->
            <span class="help-block error" data-ng-show="errors.user.user_name_first">{{errors.user.user_name_first.message}}</span>
        </div>
    </div>

    <div class="control-group" data-ng-class="{error: (errors.user.user_name_last)}">
      	<label class="control-label" for="user_name_last">Last Name</label>
      	<div class="controls">
            <input type="text" class="span" name="user_name_last" placeholder="" data-ng-model="user.user_name_last"/>
            <!--<span class="help-block error" data-ng-show="userForm.user_name_last.$error.required">Required</span>-->
            <span class="help-block error" data-ng-show="errors.user.user_name_last">{{errors.user.user_name_last.message}}</span>
        </div>
    </div>
    
    
    <!--<div class="control-group" data-ng-class="{error: (errors.user_phone)}">
      	<label class="control-label" for="user_phone">Phone</label>
      	<div class="controls">
          	<div class="input-prepend">
                <span class="add-on">+{{json.calling_codes[country_code]}}</span><input type="text" class="" name="user_phone" placeholder="(000) 000-0000" data-ng-model="user.user_phone" data-input-mask="(999) 999-9999 x999999">
            </div>
            <span class="help-block error" data-ng-show="errors.user_phone">{{errors.user_phone.message}}</span>
        </div>
    </div>-->
    
    <div class="control-group" data-ng-class="{error: (errors.user_url)}">
      	<label class="control-label" for="user_url">Website</label>
      	<div class="controls">
            <input type="url" class="span" name="user_url" data-ng-model="user.user_url" placeholder="https://">
            <span class="help-block error" data-ng-show="userForm.user_url.$error.url">Not valid url</span>
            <span class="help-block error" data-ng-show="errors.user_url">{{errors.user_url.message}}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="user_details">Bio</label>
	    <div class="controls">
		    <textarea class="span" rows="4" data-ng-model="user.user_details" placeholder=""></textarea>
			<span class="pull-right">{{160 - user.user_details.length}}</span>
			<span class="help-block">About yourself in 160 characters or less.</span>
	    </div>
	</div>
	<hr>
	
	<div class="control-group">
      	<div class="controls">
	      	<button class="btn" data-ng-click="updateUser()" data-ng-disabled="userForm.$invalid">Save changes</button>
      	</div>
	</div>
</form>