
<form name="securityForm" class="form-horizontal" data-ng-controller="SettingsCtrl">
	<legend>Security</legend>
	<hr>
	
    <!--
    In Development.
    - PGP Key
    - Two Factor Authentication
     - Security Questions
    - One Time Pass Tokens
    -->
    
    <div class="control-group">
    	<b>Email Encryption</b>
    </div>
    
    <!--<div class="control-group">
      	<label class="control-label" for="user_name">Email PGP/GPG Key</label>
      	<div class="controls">
      		<label class="checkbox">
            	<input type="checkbox" checked disabled> Send securely when possible.
      		</label>
        </div>
    </div>-->
    <div class="control-group">
      	<label class="control-label" for="user_name">Email PGP/GPG Key</label>
      	<div class="controls">
	      	<textarea name="message" class="input-block-level" data-ng-model="security.pgp_key" rows="6" data-ng-minlength="1" required></textarea>
      	</div>
	</div>
    
    <!--<hr>
    
    <div class="control-group">
    	<b>Multi-Factor Authentication</b>
    </div>-->
    
    <!--<hr>
    
    <div class="control-group">
    	<b>Time-based One-time Password (TOTP)</b>
    </div>
    
    <div class="control-group">
      	<label class="control-label" for="user_name">Notify me when</label>
      	<div class="controls">
      		<label class="checkbox">
            	<input type="checkbox" disabled> <a href="">Google Authenticator</a>
      		</label>
        </div>
    </div>-->
    
    
    
    <hr>
    <div class="control-group">
      	<div class="controls">
	      	<button class="btn" data-ng-click="updateSecurity()" data-ng-disabled="securityForm.$invalid">Save change</button>
      	</div>
    </div>
</form>
