<!doctype html>
<html data-ng-app="app">
<head>
  	<meta http-equiv="Content-Type" 					content="text/html; charset=UTF-8">
  	<meta name="viewport" 								content="user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body class="ng-cloak" data-ng-controller="AppCtrl">

<!-- !Loading Screen -->
<div id="init-blanket" data-ng-show="loader.count < loader.total">
	<div class="span4"></div>
	<div class="well span4">
	    <h2 data-ng-bind-template="{{i18n.title}}"></h2>
		<div class="progress progress-striped active">
	    	<div class="bar" style="width:{{loader.width}}%;"></div>
	    </div>
	    <span data-ng-bind-template="{{loader.details}}"></span>
    </div>
</div>
<!-- !End Loading Screen -->

<!-- to be refactored, parent scope holding sliderNav not reachable in ng-include -->
<div class="btn-group visible-phone nav-slider-button" data-ng-class="{'1':'page-slider-open', '-1':'page-slider-closed'}[sliderNav]">
	<button class="btn" data-ng-click="sliderNav = sliderNav * -1"><i class="icon-list-ul"></i></button>
</div>

<div class="nav-slider visible-phone" data-ng-include="'view/nav.slide.html'" data-ng-class="{'1':'nav-slider-open', '-1':'nav-slider-closed'}[sliderNav]" data-ng-click="sliderNav = sliderNav * -1"></div>
<div class="page" data-ng-class="{'1':'page-slider-open', '-1':'page-slider-closed'}[sliderNav]" data-ng-click="sliderNav = -1">

	<!-- !Top Nav -->
	<header class="header" data-ng-include="'view/nav.top.html'"></header>
	<div class="alert-fixed-top">
		<div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts" data-dismiss="alert">
		  	<div class="container">
			  	<button class="close">&times;</button>
			  	<strong>{{alert.label}}</strong> {{alert.message}}
		  	</div>
		</div>
	</div>
	<!-- !End Top Nav -->
		
	<!-- !View -->
	<div class="wrapper"><!-- wrapper used for sticky footer -->
		<div class="container" data-ng-view></div>
		<div class="footer-push"></div><!-- footer-push used for sticky footer -->
	</div>
	<!-- !End View -->
	
	<footer class="footer" data-ng-include="'view/footer.html'"></footer>
</div>

<!-- !Plugin Modals & Partials -->
<div data-ng-include="'view/partials/follow.html'"></div>
<div data-ng-include="'view/partials/filepicker.html'"></div>
<div data-ng-include="'view/partials/message.html'"></div>
<div data-ng-include="'view/partials/alert.html'"></div>
<!-- !End Plugin Modals & Partials -->

<!-- !Frameworks -->
<script src="js/vendor/jquery.min.js"></script><!-- to be removed -->
<script src="js/vendor/angular.min.js"></script>
<script>
	locale = JSON.parse(localStorage.getItem('locale'));
	if (locale) document.write('<script src="js/vendor/i18n/angular-locale_'+locale+'.js"><\/script>');
</script>
<script src="js/vendor/bootstrap.min.js"></script><!-- to be removed -->


<script src="phonegap.js"></script><!-- required for phonegap -->
<!-- build:js js/device.min.js -->
<script src="components/html5-mobile-boilerplate/js/helper.js"></script>
<script src="scripts/app.device.js"></script>
<!-- endbuild -->

<script src="js/app.min.js"></script>


</body>
</html>
