<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" manifest="manifest.appcache"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" 				content="text/html; charset=UTF-8">
	<meta name="robots" 							content="index, follow"><!-- index, noindex, follow, nofollow -->

	<!-- !mobile tags -->
	<!--<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">-->
	<meta name="viewport" 							content="user-scalable=no, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" 		content="yes"><!-- Sets whether a web application runs in full-screen mode. -->
	<!--<meta name="format-detection" 						content="telephone=no">-->
	<!--<meta name="apple-mobile-web-app-status=bar-style" 	content="black-translucent">--><!-- black, black-translucent, default -->
	<!-- http://david-smith.org/blog/2012/09/20/implementing-smart-app-banners/ -->
	<!--<meta name="apple-itunes-app" content="app-id="/>-->
	<!-- !end mobile tags -->
	
	<link rel="icon" 							sizes="32x32" 	href="favicon/icon-32.png">
	<link rel="shortcut icon" 	type="image/x-icon" 			href="favicon.ico">
	<link rel="fluid-icon"		title="Angular.io" 				href="fluidicon.png">
	
	<link rel="apple-touch-icon-precomposed" 	sizes="57x57" 	href="icons/ios/icon-57.png">
	<link rel="apple-touch-icon-precomposed" 	sizes="114x114" href="icons/ios/icon-57-2x.png">
	<link rel="apple-touch-icon-precomposed" 	sizes="72x72"	href="icons/ios/icon-72.png">
	<link rel="apple-touch-icon-precomposed" 	sizes="144x144" href="icons/ios/icon-72-2x.png">
	<meta name="msapplication-TileImage" 		content="icons/winphone/icon-173-tile.png">
	<meta name="msapplication-TileColor" 		content="#ffffff">

	<title>Angular.io</title>
	<meta name="description" content="AngularJS Framework">
	<meta name="author"		content="humans.txt">

	<!-- CSS -->
	<style>.ng-cloak{display:none;}</style>
	<!-- never serve from a subdomain -->
	<link rel="stylesheet" href="css/app.min.css">
	
	<!--<link rel="dns-prefetch" href="//widget.foo.com">-->
	<!-- use to preload images or fonts -->
	<!--<link rel="prefetch" href="webfont.woff">-->
	
	<!-- there is a way to defer the loading of print.css -->
	
	<!-- build:js js/appCache.min.js -->
	<script src="scripts/appCache.js"></script>
	<!-- endbuild -->
	
	<!--[if lt IE 9]>
	<script>
		document.createElement('section');
		document.createElement('canvas');
	</script>
	<![endif]-->
	
	<!-- build:js js/async.min.js -->
	<!-- replace:inline -->
	<script src="components/html5-boilerplate/js/plugins.js"></script><!-- can be removed if no use of `console`, replace:jsmin -->
	<script src="scripts/script.js"></script>
	<!--<script src="componets/angular-complete/angular-loader.js"></script>-->
	<script src="scripts/async.js"></script>
	<!-- endbuild -->
</head>
<!-- Break out of iFrame -->
<body class="ng-cloak" onload="if(this!=top){top.location.href=this.location.href}" data-ng-controller="AppCtrl">

<!-- !Loading Screen -->
<div id="init-blanket" data-ng-show="loader.count < loader.total">
	<div class="span4"></div>
	<div class="well span4">
		<h2 data-ng-bind-template="{{i18n.title}}"></h2>
		<div class="progress progress-striped active">
			<div class="bar" data-ng-style="{width: loader.width+'%'}"></div>
		</div>
		<span data-ng-bind-template="{{loader.details}}"></span>
	</div>
</div>
<!-- !End Loading Screen -->

<div class="nav-slider visible-phone" data-ng-include="'view/nav.slide.html'" data-ng-class="{'1':'nav-slider-open', '-1':'nav-slider-closed'}[slideNavBool]" data-ng-click="slideNav()"></div>
<div class="page" data-ng-class="{'1':'page-slider-open', '-1':'page-slider-closed'}[slideNavBool]">

	<!-- !Top Nav -->
	<div class="header" data-ng-include="'view/nav.top.html'"></div>
	<!--[if lte IE 9]>
	<div class="alert-fixed-top alert-no-close">
		<div class="container">
			<div class="alert alert-error">
				<strong>You are using an outdated browser.</strong> <a href="http://browsehappy.com/" target="_blank">Upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">install Google Chrome Frame Plug-in</a> to better experience this site.
			</div>
		</div>
	</div>
	<![endif]-->
	<div class="alert-fixed-top appCache alert-no-close" data-ng-show="appCache.percent">
		<div class="container">
			<div class="alert alert-info">
				<table width="100%"><tr><td>
					<strong>New Version</strong>
				</td><td class="auto-span">
					<div class="progress" data-ng-class="{false: 'progress-striped active'}[appCache.percent == 100]">
						<div class="bar" data-ng-style="{width: appCache.percent+'%'}"><!--{{appCache.loaded}} / {{appCache.total}}--></div>
					</div>
				</td><td>
					<button class="btn btn-mini btn-primary pull-right" onclick="window.location.reload()" data-ng-disabled="appCache.percent != 100"><i class="icon-refresh"></i> Reload</button>
				</td></tr></table>
			</div>
		</div>
	</div>
	<div class="alert-fixed-top">
		<div class="container">
			<div class="alert alert-{{alert.class}}" data-ng-repeat="alert in alerts">
				<button class="close" data-dismiss="alert">&times;</button>
				<strong>{{alert.label}}</strong> {{alert.message}}
			</div>
		</div>
	</div>
	<!-- !End Top Nav -->
		
	<!-- !View -->
	<div class="wrapper" data-ng-click="slideNav(-1)"><!-- wrapper used for sticky footer -->
		<div class="container" data-ng-view></div>
		<div class="footer-push"></div><!-- footer-push used for sticky footer -->
	</div>
	<!-- !End View -->
	
	<div class="footer" data-ng-include="'view/footer.html'"></div>
</div>

<!-- !Plugin Modals & Partials -->
<div data-ng-include="'view/partials/filepicker.html'"></div>
<div data-ng-include="'view/partials/message.html'"></div>
<div data-ng-include="'view/partials/alert.html'"></div>
<!-- !End Plugin Modals & Partials -->

<!-- required for IE 7 -->
<!--[if lt IE 8]>
<script src="js/fallback/json.min.js"></script>
<![endif]-->

</body>
</html>
