/* fontawesome */
/* place icon inside input field */
.icon-input {
	position: relative;
	margin: 2.5px 0 0 -24px;
}

/*************** Bootstrap-Responsive Fix ***************/
/* mobile modal patch */
@media(max-width:480px) {
/* .modal{position:absolute;top:10px;right:10px;left:10px;width:auto;margin:0} */
.modal {
	position:fixed;
	top:3%;
	right:3%;
	left:3%;
	bottom:3%;
}

.modal-body {
	height:60%;
}
}

/* tweak for input full width */
input[class*="span"], select[class*="span"], textarea[class*="span"] {
	width: 100%;
	min-height: 30px;
	box-sizing: border-box;
}

/* Footer - Mobile Fix
-------------------------------------------------- */
/* override body padding on footer on smaller screen sizes */
@media (max-width:767px) {
	body {
		padding: 0;
	}
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

/* make nav more condensed */
@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0 5px;
	}
}


/*************** Bootstrap Add-ons ***************/
/* class="span" to make input width:100% */
form { margin:0; }
.modal { overflow: visible; }

.pull-center {
	margin:0 auto;
	float:none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* for multiple tags */
.label {
	margin-right:0.3em;
}

.help-block.error, .help-inline.error {
  color: #b94a48;
}

.help-block.success, .help-inline.success {
  color: #468847;
}

/* image resize and crop */
#resizecrop canvas, #resizecrop canvas:hover { 
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#resizecrop canvas:active { 
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

[type='range'] {
	display: inline-block;
	margin: 0 10px;
	width: 208px;
	height: 7px;
	background-color: #eee;
	border: 0;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
	box-shadow: inset 0 0 3px rgba(0,0,0,.15);
}
input[type='range']::-webkit-slider-thumb {  
    /*-webkit-appearance: none;  
    /*width: 68px;  
    height: 44px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px;  
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAYCAYAAAB0kZQKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNpi7OnpYaAC0AXiF0D8mhzNTAzUASBHnAdim4F0BAhIA/EBIC4aSEeAADMQ9wLxRiDmHyhHwIAfNHqMiXZEcXExGJMCiNCjCMTHgDiTkFmM////p4rXe3t78Rm0DIjTgfgLNkkWoGZQij7MQFsQBY2aICC+Rq80gQ2oA/EZIE4YSEeAACcQzwfimVD2gDgCBtKgiVZlIB0BAgbQbBwykI5A5I4BtPsaNLfcHKiQWADEJiAHDERIfAfiLKgjBiQ67kCD/zK2NAFqjMyi0AJQVnPCI78GiBNxFttQF6ZToVjG5ohfoLoOiKcMVO54BA3+swPVntgKxIbEOIAWjvgLxJVA7APE7waisHoKxBFAfGSgSszL0MLnBTmaAQIMAKg/OsrT7JG8AAAAAElFTkSuQmCC'),  
    -webkit-gradient(  
        linear,  
        left top,  
        left bottombottom,  
        color-stop(0, #fefefe),  
        color-stop(0.49, #dddddd),  
        color-stop(0.51, #d1d1d1),  
        color-stop(1, #a1a1a1)  
    );  
    background-repeat: no-repeat;  
    background-position: 50%; 
    //
	width: 16px;
	height: 16px;
	background-color: #fff;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	background: #fff;
	background: -moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e0e0e0',GradientType=0);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
	box-shadow: 0 0 3px rgba(0,0,0,.1);*/
}

/*************** AngularJS Add-ons ***************/

.ng-click {
  cursor: hand;
}


/*************** Custom Styles ***************/

.nav-tabs.nav-stacked>li>a {
	background-color:#FFF;
}
.well-white {
	background-color:#FFF;
	min-height: 20px;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);	
}

.well-white legend, .well-white .control-group {
	padding: 0 19px;
}

.well-white legend {
	border:none;
	margin-bottom: 0px;
}
legend + hr {
	margin-top: 0px;
}

/* IE fix for jquery resizecrop */
img { -ms-interpolation-mode: bicubic; }

/* init loader
-------------------------------------------------- */
#init-blanket {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:2000;
	display:block;
	padding-top:15%;
    background-color: #FFF;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHGmJAiY6AhZwkpAluESxHYBJhTsClCUYDPJBT/IJuEYQK6dTgVgBQCAIq0BT1Kwa4sAAAAAElFTkSuQmCC);
    
	color:#222;
}

/* Global Alert Bar
-------------------------------------------------- */
.alert-fixed-top {
	position:absolute;
	width: 100%;
	top:40px;
	z-index: 1025;
}

.alert-fixed-top .alert {
	border-radius: 0;
	margin: 0;
}

/* Nav Bar Hover
-------------------------------------------------- */

@media (min-width: 768px) {
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}
}

/* Nav Slider
-------------------------------------------------- */
body {
	overflow: hidden;
}
.page {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
@media (max-width:767px) {
	.page {
		border-left: solid 1px #DDD;
	}
	.nav-slider {
		width:200px;
		height: 100%;
		overflow-y: scroll;
		overflow-x: visible;
		top:0px;
		background-color: #FFF;
	}
	
	.nav-slider .nav-tabs li a {
		border-left-width: 0px;
		border-right-width: 0px;
	}
	
	.nav-slider .nav-tabs.nav-stacked > li > a {
		border-radius: 0px;
	}
	
	.page, .nav-slider, .nav-slider-button {
		position: absolute;
		/*box-shadow: inset -3px -3px 3px #000;*/
		/*-moz-box-shadow:    0 0 15px  #000;
		-webkit-box-shadow: 0 0 15px  #000;
		box-shadow:     	0 0 15px  #000;*/
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: 	all 0.3s ease-in-out;
		-o-transition: 		all 0.3s ease-in-out;
		-ms-transition: 	all 0.3s ease-in-out;
		transition: 		all 0.3s ease-in-out;
	}
	
	.nav-slider-button {
		margin: 5px 6px; /* 6 = 5 + 1 for border */
		z-index: 1060;
	}
	
	.nav-slider-open, .page-slider-closed {
		left:0px;
	}
	
	.nav-slider-closed {
		left:-200px; /* width  */
	}
	
	.page-slider-open {
		left:200px; /* width */
	}

}

/* Footer - Sticky
-------------------------------------------------- */
/* Allows for fixed nav header */
@media(min-width:980px) {
.wrapper > .container {
	padding-top:60px;
}
}

html, body { height: 100%; }
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -66px;
}


.footer-push {
	height:66px;
}
.footer {
  padding: 10px 0 10px;
  margin: 25px 0 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}

/* Wizard Progress Tracker
-------------------------------------------------- */
.wizard a {
    padding: 10px 12px 10px 12px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
}
.wizard a:first-child {
    padding: 10px 12px 10px 12px;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #007ACC;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #007ACC;
}

.wizard .after {
    color: #777;
}
.wizard .after:hover {
   text-decoration:none;
}

